# The absolute basics

## Ways to run python

- Interactive interpreter: Go to the terminal and run `python`.
- Running a script: Go to the terminal and run `python name_of_your_script.py`. Try it out with the script `module.py`.
- Multiple tools that uses python, like integrated development environments (IDEs), or jupyter notebooks, which are what we're using today.

The jupyter notebook: text cells and executable code cells with output underneath.

In [1]:
1 + 1

2

## Comments

In [ ]:
# This is a comment

# There is no such thing as multiple lines comments.
# Just add # in front of each line.
asdasdklasjasd  # asdmsdasd

## Names and values

Lowercase letters with underscores

In [3]:
age = 31

In [4]:
age

31

Name errors

In [5]:
x

NameError: name 'x' is not defined

*Note: always read the exception.*

## Numbers

`+, -, *, /, %, **, ()`

In [8]:
123 / 23

5.3478260869565215

In [11]:
3 ** 2

9

*Note: the result of division is always a float.*

In [12]:
3 / 2

1.5

*Note: large numbers.*

In [18]:
892089120891320980 * 12980120938123089132098123 * 123123123123908312890132809132890321 * 129123890132098132908123098132098123098132 ** 2 ** 2 ** 2

8513972266645679128414438161665710371373911281647331077983185362293657104290575864356819793199075587492527638322003703208781800246336207824717488071193776230012680055929769230098544189819207243700904786985795260527939762563416791170367002618213978865562621000798391423915180409382910362049569562268481341412884237198505945433362351516056652756815678640159465905576651618140374165657269844719844813294558552772455455221845726742443809358534359168050406117214333336787201099052951321104511218608305503538186016781661613720562258695379204857377579673165908849850430897993642214114977286266200475404036038689567942845755024865333609812381674926775102549936973277248250587208769248014514808910935883531923537095391333371373348489518739619840

## Booleans

In [20]:
True

True

In [21]:
False

False

`and`, `or`, and `not`

In [24]:
not False

True

**Question: XOR?**

In [25]:
a = True
b = False
a != b

True

## `None`

In [28]:
x = None

## Strings

Single / double quotes. Why?

In [34]:
x = 'this is a string'

In [35]:
y = "this is a string"

In [37]:
"it doesn't matter"

"it doesn't matter"

In [38]:
'my name is "Tom"'

'my name is "Tom"'

`len`

In [42]:
x = 'שלום כיתה'

In [43]:
len(x)

9

`str` methods

In [48]:
y.capitalize()

'This is a string'

The `in` operator

In [53]:
'this is a float' in y

False

*Note: functions vs. methods vs. operators*

In [55]:
len(y)
y.upper()
'this' in y

True

In [ ]:
concatenate(x, y)
x.concatenate(y)
x concatenate y

Slicing

In [71]:
y[:-3]

'this is a str'

String formatting / interpolation

In [76]:
'hello {}, please go to {}'.format('Tom', 'www.example.com')

'hello Tom, please go to www.example.com'

In [78]:
name = 'Tom'
f'My name is {name}'

'My name is Tom'

*Note: [there are many ways to format a string](https://zerokspot.com/weblog/2015/12/31/new-string-formatting-in-python/)*

## Casting

`str`, `bool`, `int`, `float`

False

*Note: `None`, `0`, and empty strings/lists/dicts/tuples all evaluate to `False`, hence "falsy". All other values are "truthy".*

## *Exercise*

Write code that output a sentence with your mother name and the age she was when you were born. For me, the solution is `'My mother, Irit, was 24 years old when I was born'`. Change the variables and write the code to produce your version of the sentence.

In [ ]:
# --- CHANGE THE VALUES ------ #
my_age = 31
my_mothers_age = 55
my_mothers_name = 'Irit'

# --- WRITE YOUR CODE HERE --- #

# ---------------------------- #