# Control flow and data structures

## `if` / `else` / `elif`

Comparisons

In [6]:
x = 0
if x > 0:
    print('x is positive')
elif x == 0:
    print('x is zero')
else:
    print('x is negative')

x is zero

*Notes: significant whitespace. Colon before every new code block. The `print` function.*

## Lists

In [7]:
l = ['banana', 'apple', 'kiwi']

Getting values and slicing

In [11]:
l[:2]

['banana', 'apple']

Adding items: `append`, `insert`, and `extend`.

In [21]:
l = []
l.append('banana')
l.append('pineapple')
l

['banana', 'pineapple']

In [28]:
l = [0, 1, 2]
l.insert('hello')
l

[0, 1, 2, 'hello']

In [25]:
l = [0, 1, 2]
l.extend([5, 6, 6])
l

[0, 1, 2, 5, 6, 6]

Removing items: `del` and `pop`.

In [35]:
l = ['banana', 'apple', 'kiwi']
asd = l.pop()
print(asd)
print(l)

kiwi
['banana', 'apple']

In [39]:
l = ['banana', 'apple', 'kiwi']
del l[1]
l

SyntaxError: can't delete function call (<ipython-input-39-0fadc1ec060f>, line 2)

Replacing items

In [41]:
l = ['banana', 'apple', 'kiwi']
l[1] = 'pineapple'
l

['banana', 'pineapple', 'kiwi']

Checks: `in`, `len`, `index`, and `count`.

In [45]:
l = ['banana', 'apple', 'kiwi']

1

Copying

In [49]:
l1 = ['banana', 'apple', 'kiwi']
l2 = l1.copy()
l2.append('pineapple')
print(l1)
print(l2)

['banana', 'apple', 'kiwi']
['banana', 'apple', 'kiwi', 'pineapple']

Joining strings

In [52]:
l1 = ['banana', 'apple', 'kiwi']
print('\n'.join(l1))

banana
apple
kiwi

## `for` loops

In [66]:
l = ['banana', 'apple', 'kiwi']
for i, item in enumerate(l):
    print(i, item)

0 banana
1 apple
2 kiwi

In [61]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

`range` and `enumerate`

## Dictionaries

In [69]:
d = {'ziggi stardust': 1971,
     'space odity': 1969}
d

{'space odity': 2000, 'ziggi stardust': 1971}

*Note: keys are unique.*

Getting values

In [87]:
d = {'ziggi stardust': 1971,
     'space odity': 1969}
d['space odity']

1969

In [91]:
d.get('asd', 2)

2

Adding (updating)

In [74]:
d = {'ziggi stardust': 1971,
     'space odity': 1969}
d['Heroes'] = 1978
d['a'] = 1
d['z'] = 1
d

{'Heroes': 1978, 'a': 1, 'space odity': 1969, 'z': 1, 'ziggi stardust': 1971}

Deleting

In [80]:
d = {'ziggi stardust': 1971,
     'space odity': 1969,
     'heroes': 1978}
heroes = d.pop('heroes')
print(heroes)
print(d)

1978
{'ziggi stardust': 1971, 'space odity': 1969}

`keys`, `values`, and `items`

In [84]:
d = {'ziggi stardust': 1971,
     'space odity': 1969,
     'heroes': 1978}
d.items()

dict_items([('ziggi stardust', 1971), ('space odity', 1969), ('heroes', 1978)])

Iteration is over keys by default.

In [86]:
d = {'ziggi stardust': 1971,
     'space odity': 1969,
     'heroes': 1978}
for key, value in d.items():
    print(key, value)

ziggi stardust 1971
space odity 1969
heroes 1978

`in`

In [95]:
'asd' in d

False

In [100]:
'space' in d

False

In [102]:
'Oops, mistake' in d.values()

True

In [99]:
d = {True: "That's right!", False: 'Oops, mistake'}

## Unpacking

In [106]:
a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

Fibonacci example

In [108]:
a, b = 1, 1
for _ in range(10):
    a, b = b, a + b
    print(a)

1
2
3
5
8
13
21
34
55
89

*Note: the `_` is a "throwaway variable" by convention.*

## `while` loops

Example 1: [Euclid's Greatest Common Divisor algorithm](https://en.wikipedia.org/wiki/Greatest_common_divisor#Using_Euclid's_algorithm).

In [ ]:
a = 24
b = 54

while b:
    a, b = b, a % b
    
a

*Note: use `for` loops when the number of iterations is known.*

`break` and `continue`

In [ ]:
while True:
    my_value = get_some_value_from_the_internet()
    if my_value:
        break

## *Exercise*

How much money will you have if you sell your belongings?

In [ ]:
belongins = {
    'macbook': 1,
    'shoes': 5,
    'phone': 1,
    'bag': 2,
}
prices = {
    'macbook': 800,
    'shoes': 90,
    'phone': 250,
    'bag': 40,
}

total = 0

# --- WRITE YOUR CODE HERE --- #

# ---------------------------- #

print(total)

## *Advanced exercise (optional)*

[Problem 4 from Project Euler](https://projecteuler.net/problem=4).