# Control flow and data structures

## `if` / `else` / `elif`

Comparisons

In [9]:
x = 1
if 3 < 5:
    x += 1
    print(x)

2

*Notes: significant whitespace. Colon before every new code block. The `print` function.*

## Lists

In [14]:
l = [1, 'Tom', True, None, 5]

In [15]:
l

[1, 'Tom', True, None, 5]

Getting values and slicing

In [17]:
l[:3]

[1, 'Tom', True]

Adding items: `append`, `insert`, and `extend`.

In [18]:
l.append(['another', 'list'])
l

[1, 'Tom', True, None, 5, ['another', 'list']]

In [20]:
l.insert(1, 'Sebastian')

In [22]:
l

[1, 'Sebastian', 'Tom', True, None, 5, ['another', 'list']]

In [23]:
l.extend(['a', 'b', 'c'])
l

[1, 'Sebastian', 'Tom', True, None, 5, ['another', 'list'], 'a', 'b', 'c']

Removing items: `del` and `pop`.

In [24]:
del l[2]
l

[1, 'Sebastian', True, None, 5, ['another', 'list'], 'a', 'b', 'c']

In [25]:
l.pop(-1)

'c'

In [26]:
l

[1, 'Sebastian', True, None, 5, ['another', 'list'], 'a', 'b']

Replacing items

In [29]:
l[2] = False
l

[1, 'Sebastian', False, None, 5, ['another', 'list'], 'a', 'b']

Checks: `in`, `len`, `index`, and `count`.

In [30]:
False in l

True

In [32]:
len(l)

8

In [34]:
l.index(False)

2

In [36]:
l.append(1)

In [38]:
l

[1, 'Sebastian', False, None, 5, ['another', 'list'], 'a', 'b', 1]

In [39]:
l.count('Sebastian')

1

Joining strings

In [44]:
l = ['this', 'is', 'a', 'list', 'of', 'strings']
' x x x '.join(l)

'this x x x is x x x a x x x list x x x of x x x strings'

## `for` loops

In [46]:
l

['this', 'is', 'a', 'list', 'of', 'strings']

In [47]:
for item in l:
    print(item)

this
is
a
list
of
strings

`range` and `enumerate`

In [55]:
for i in range(10, 3, -1):
    print(i)

10
9
8
7
6
5
4

In [63]:
for i, item in enumerate(l, start=3):
    print(i, item)

3 this
4 is
5 a
6 list
7 of
8 strings

## Tuples

In [69]:
t = ('this', 'is', 'a', 'tuple', 'of', 'strings')
t.count('a')

1

*Note: for many of the same use lists, for many properties of the same thing use tuples.*

In [72]:
l = [
    ('Tom', 31),
    ('Sebastian', 29),
]
l

[('Tom', 31), ('Sebastian', 29)]

## Packing / unpacking

In [81]:
t = ('Tom', 31)
name, age = t

Fibonacci example

In [84]:
a, b = 1, 1
for _ in range(10):
    a, b = b, a + b
    print(a)

1
2
3
5
8
13
21
34
55
89

*Note: the `_` is a "throwaway variable" by convention.*

## `while` loops

Example: [Euclid's Greatest Common Divisor algorithm](https://en.wikipedia.org/wiki/Greatest_common_divisor#Using_Euclid's_algorithm).

In [85]:
a = 24
b = 54

while b:
    a, b = b, a % b
    
a

6

*Note: use `for` loops when the number of iterations is known.*

`break` and `continue`

In [92]:
for i in range(10):
    if i > 5:
        break
    print(i)

0
1
2
3
4
5

## Dictionaries

In [98]:
colours = {
    'red': 'rot',
    'blue': 'blau',
    'yellow': 'gelb',
}

*Note: keys are unique.*

Getting values

In [99]:
colours['red']

'rot'

Adding (updating)

In [100]:
colours['green'] = 'grün'

In [101]:
colours

{'red': 'rot', 'blue': 'blau', 'yellow': 'gelb', 'green': 'grün'}

Deleting

In [102]:
del colours['blue']
colours

{'red': 'rot', 'yellow': 'gelb', 'green': 'grün'}

`keys`, `values`, and `items`

In [106]:
colours.items()

dict_items([('red', 'rot'), ('yellow', 'gelb'), ('green', 'grün')])

Iteration is over keys by default.

In [109]:
for key, value in colours.items():
    print(key, value)

red rot
yellow gelb
green grün

`in`

In [111]:
'purple' in colours

False

*Note: keys must be hashable.*

In [114]:
s = 'hello world'
s.__hash__()

7196804766629154816

In [115]:
d = {
    (0, 1): 0.9,
    (2, 3): 0.5,
    (2, 1): 0.1,
}

## *Exercise*

Create a dictionary with the numbers 1 to 10 as keys and their square value as values.

## *Exercise*

How much money will you have if you sell your belongings?

In [ ]:
belongings = [
    'macbook',
    'phone',
    'pencil',
    'pencil',
]

prices = {
    'macbook': 800,
    'shoes': 90,
    'phone': 250,
    'bag': 40,
    'pencil': 1,
}

total = 0

# --- WRITE YOUR CODE HERE --- #
# ---------------------------- #

total

## Sets

In [124]:
s = {1, 2, 3, 2}
s.union({2, 3, 4})

{1, 2, 3, 4}

**Question: Why not lists?**

## Comprehensions

List, dict, and set comprehensions.

In [138]:
l = [2, 5, 1, 6, 4, 2]
    
new_l = [i ** 2 for i in l if i < 5]
new_l

[4, 1, 16, 4]

In [140]:
{i: i ** 2 for i in l}

{2: 4, 5: 25, 1: 1, 6: 36, 4: 16}

## *Advanced exercise (optional)*

[Problem 4 from Project Euler](https://projecteuler.net/problem=4).