# Organising

In [1]:
import numpy as np
import pandas as pd

## The `pandas.DataFrame` object

In [2]:
data = [
    {'state': 'California', 'area': 423967, 'population': 38332521},
    {'state': 'Florida', 'area': 170312, 'population': 19552860},
    {'state': 'Illinois', 'area': 149995, 'population': 12882135},
    {'state': 'New York', 'area': 141297, 'population': 19651127},
    {'state': 'Texas', 'area': 695662, 'population': 26448193},
]

states = pd.DataFrame(data)
states

     area  population       state
0  423967    38332521  California
1  170312    19552860     Florida
2  149995    12882135    Illinois
3  141297    19651127    New York
4  695662    26448193       Texas

*Notes: [there are many ways to construct DataFrames](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.01-Introducing-Pandas-Objects.ipynb) (see "Constructing DataFrame objects"), but we will usually load data from file. In most cases rows should be either independent samples (also known as [tidy format](http://vita.had.co.nz/papers/tidy-data.pdf)) or timestamps.*

### Loading from file

[Comic characters dataset from fivethirtyeight](https://github.com/fivethirtyeight/data/tree/master/comic-characters).

In [3]:
df = pd.read_csv('data/dc-wikia-data.csv')

In [4]:
df

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
5,1448,Wonder Woman (Diana Prince),\/wiki\/Wonder_Woman_(Diana_Prince),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1231.0,"1941, December",1941.0
6,1486,Aquaman (Arthur Curry),\/wiki\/Aquaman_(Arthur_Curry),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1121.0,"1941, November",1941.0
7,1451,Timothy Drake (New Earth),\/wiki\/Timothy_Drake_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1095.0,"1989, August",1989.0
8,71760,Dinah Laurel Lance (New Earth),\/wiki\/Dinah_Laurel_Lance_(New_Earth),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1075.0,"1969, November",1969.0
9,1380,Flash (Barry Allen),\/wiki\/Flash_(Barry_Allen),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
10,403631,GenderTest,\/wiki\/GenderTest,Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
11,1459,Alan Scott (New Earth),\/wiki\/Alan_Scott_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,969.0,"1940, July",1940.0
12,1905,Barbara Gordon (New Earth),\/wiki\/Barbara_Gordon_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Red Hair,Female Characters,NaN,Living Characters,951.0,"1967, January",1967.0
13,1386,Jason Garrick (New Earth),\/wiki\/Jason_Garrick_(New_Earth),Public Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,951.0,"1940, January",1940.0
14,23383,Lois Lane (New Earth),\/wiki\/Lois_Lane_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,934.0,"1938, June",1938.0
15,1456,Alfred Pennyworth (New Earth),\/wiki\/Alfred_Pennyworth_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,930.0,"1943, April",1943.0
16,1849,Carter Hall (New Earth),\/wiki\/Carter_Hall_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,803.0,"1940, January",1940.0
17,4320,Kyle Rayner (New Earth),\/wiki\/Kyle_Rayner_(New_Earth),Secret Identity,Good Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,716.0,"1994, January",1994.0
18,1706,Raymond Palmer (New Earth),\/wiki\/Raymond_Palmer_(New_Earth),Public Identity,Good Characters,Brown Eyes,NaN,Male Characters,NaN,Living Characters,706.0,"1961, October",1961.0
19,1480,Alexander Luthor (New Earth),\/wiki\/Alexander_Luthor_(New_Earth),Public Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,677.0,"1986, October",1986.0
20,1556,Roy Harper (New Earth),\/wiki\/Roy_Harper_(New_Earth),Secret Identity,Neutral Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,654.0,"1941, November",1941.0
21,1580,Kara Zor-L (Earth-Two),\/wiki\/Kara_Zor-L_(Earth-Two),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,635.0,"1976, February",1976.0
22,4849,Ted Grant (New Earth),\/wiki\/Ted_Grant_(New_Earth),Secret Identity,NaN,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,605.0,"1942, January",1942.0
23,1611,Garfield Logan (New Earth),\/wiki\/Garfield_Logan_(New_Earth),Public Identity,Good Characters,Green Eyes,Green Hair,Male Characters,NaN,Living Characters,595.0,"1965, November",1965.0
24,1479,Guy Gardner (New Earth),\/wiki\/Guy_Gardner_(New_Earth),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,593.0,"1968, March",1968.0
25,1582,Victor Stone (New Earth),\/wiki\/Victor_Stone_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,584.0,"1980, October",1980.0
26,14006,Kon-El (New Earth),\/wiki\/Kon-El_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,560.0,"1993, June",1993.0
27,1484,Ralph Dibny (New Earth),\/wiki\/Ralph_Dibny_(New_Earth),Public Identity,NaN,Blue Eyes,Red Hair,Male Characters,NaN,Deceased Characters,558.0,"1960, May",1960.0
28,23391,James Olsen (New Earth),\/wiki\/James_Olsen_(New_Earth),Public Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,557.0,"1986, October",1986.0
29,1478,John Stewart (New Earth),\/wiki\/John_Stewart_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,549.0,"1971, December",1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,162822,Baron Tyrano (New Earth),\/wiki\/Baron_Tyrano_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1967, July",1967.0
6867,10025,Brains (New Earth),\/wiki\/Brains_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6868,10030,Cracker (New Earth),\/wiki\/Cracker_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6869,10031,Hard Head (New Earth),\/wiki\/Hard_Head_(New_Earth),NaN,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6870,10032,Zig-Zag (New Earth),\/wiki\/Zig-Zag_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6871,228659,Dragonfly (New Earth),\/wiki\/Dragonfly_(New_Earth),Secret Identity,Bad Characters,NaN,Black Hair,Female Characters,NaN,Living Characters,NaN,"1966, June",1966.0
6872,129755,Carl Bradford (New Earth),\/wiki\/Carl_Bradford_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1966, January",1966.0
6873,1449,Donna Troy (New Earth),\/wiki\/Donna_Troy_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1965, July",1965.0
6874,128098,Bartholomew Magan (New Earth),\/wiki\/Bartholomew_Magan_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1963, September",1963.0
6875,22325,James Moon (New Earth),\/wiki\/James_Moon_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1962, March",1962.0
6876,1383,Flash (Wally West),\/wiki\/Flash_(Wally_West),Secret Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,NaN,"1960, January",1960.0
6877,1485,J'onn J'onzz (New Earth),\/wiki\/J%27onn_J%27onzz_(New_Earth),Public Identity,Good Characters,Red Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1955, November",1955.0
6878,34617,Dorothea Tane (New Earth),\/wiki\/Dorothea_Tane_(New_Earth),NaN,NaN,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1948, August",1948.0
6879,238641,Dmane (Earth-Two),\/wiki\/Dmane_(Earth-Two),NaN,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1946, April",1946.0
6880,258830,Maximillian O'Leary (New Earth),\/wiki\/Maximillian_O%27Leary_(New_Earth),Public Identity,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1946, January",1946.0
6881,1624,Doris Zuel (New Earth),\/wiki\/Doris_Zuel_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,NaN,"1944, June",1944.0
6882,22701,Doris Lee (New Earth),\/wiki\/Doris_Lee_(New_Earth),Public Identity,NaN,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,NaN,"1941, April",1941.0
6883,1581,Patrick O'Brian (New Earth),\/wiki\/Patrick_O%27Brian_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1941, August",1941.0
6884,1473,Basil Karlo (New Earth),\/wiki\/Basil_Karlo_(New_Earth),Secret Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6885,1460,Catwoman (Selina Kyle),\/wiki\/Catwoman_(Selina_Kyle),Secret Identity,Neutral Characters,Green Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6886,289378,Bedivere (New Earth),\/wiki\/Bedivere_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1936, February",1936.0
6887,283661,Herbert Hoover (New Earth),\/wiki\/Herbert_Hoover_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6888,283657,William Howard Taft (New Earth),\/wiki\/William_Howard_Taft_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6889,21655,Frank Fitzsimmons (New Earth),\/wiki\/Frank_Fitzsimmons_(New_Earth),Public Identity,Good Characters,NaN,Grey Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6890,283482,James Garfield (New Earth),\/wiki\/James_Garfield_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

*Notes: [you can read and write files in many formats](https://pandas.pydata.org/pandas-docs/stable/io.html). `read_csv` (and other variants) can also read directly from a url.*

## Inspecting DataFrames

In [5]:
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [6]:
df.tail()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [7]:
df.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
YEAR                float64
dtype: object

In [8]:
df.describe()

             page_id  APPEARANCES         YEAR
count    6896.000000  6541.000000  6827.000000
mean   147441.209252    23.625134  1989.766662
std    108388.631149    87.378509    16.824194
min      1380.000000     1.000000  1935.000000
25%     44105.500000     2.000000  1983.000000
50%    141267.000000     6.000000  1992.000000
75%    213203.000000    15.000000  2003.000000
max    404010.000000  3093.000000  2013.000000

In [9]:
print('len:', len(df))
print('shape:', df.shape)

len: 6896
shape: (6896, 13)

## Selecting

In [10]:
df['name']

0                  Batman (Bruce Wayne)
1                 Superman (Clark Kent)
2            Green Lantern (Hal Jordan)
3              James Gordon (New Earth)
4           Richard Grayson (New Earth)
5           Wonder Woman (Diana Prince)
6                Aquaman (Arthur Curry)
7             Timothy Drake (New Earth)
8        Dinah Laurel Lance (New Earth)
9                   Flash (Barry Allen)
10                           GenderTest
11               Alan Scott (New Earth)
12           Barbara Gordon (New Earth)
13            Jason Garrick (New Earth)
14                Lois Lane (New Earth)
15        Alfred Pennyworth (New Earth)
16              Carter Hall (New Earth)
17              Kyle Rayner (New Earth)
18           Raymond Palmer (New Earth)
19         Alexander Luthor (New Earth)
20               Roy Harper (New Earth)
21               Kara Zor-L (Earth-Two)
22                Ted Grant (New Earth)
23           Garfield Logan (New Earth)
24              Guy Gardner (New Earth)
25             Victor Stone (New Earth)
26                   Kon-El (New Earth)
27              Ralph Dibny (New Earth)
28              James Olsen (New Earth)
29             John Stewart (New Earth)
                     ...
6866           Baron Tyrano (New Earth)
6867                 Brains (New Earth)
6868                Cracker (New Earth)
6869              Hard Head (New Earth)
6870                Zig-Zag (New Earth)
6871              Dragonfly (New Earth)
6872          Carl Bradford (New Earth)
6873             Donna Troy (New Earth)
6874      Bartholomew Magan (New Earth)
6875             James Moon (New Earth)
6876                 Flash (Wally West)
6877           J'onn J'onzz (New Earth)
6878          Dorothea Tane (New Earth)
6879                  Dmane (Earth-Two)
6880    Maximillian O'Leary (New Earth)
6881             Doris Zuel (New Earth)
6882              Doris Lee (New Earth)
6883        Patrick O'Brian (New Earth)
6884            Basil Karlo (New Earth)
6885             Catwoman (Selina Kyle)
6886               Bedivere (New Earth)
6887         Herbert Hoover (New Earth)
6888    William Howard Taft (New Earth)
6889      Frank Fitzsimmons (New Earth)
6890         James Garfield (New Earth)
6891            Nadine West (New Earth)
6892         Warren Harding (New Earth)
6893       William Harrison (New Earth)
6894       William McKinley (New Earth)
6895                 Mookie (New Earth)
Name: name, Length: 6896, dtype: object

In [11]:
df.name  # This is the same, but be careful with methods

0                  Batman (Bruce Wayne)
1                 Superman (Clark Kent)
2            Green Lantern (Hal Jordan)
3              James Gordon (New Earth)
4           Richard Grayson (New Earth)
5           Wonder Woman (Diana Prince)
6                Aquaman (Arthur Curry)
7             Timothy Drake (New Earth)
8        Dinah Laurel Lance (New Earth)
9                   Flash (Barry Allen)
10                           GenderTest
11               Alan Scott (New Earth)
12           Barbara Gordon (New Earth)
13            Jason Garrick (New Earth)
14                Lois Lane (New Earth)
15        Alfred Pennyworth (New Earth)
16              Carter Hall (New Earth)
17              Kyle Rayner (New Earth)
18           Raymond Palmer (New Earth)
19         Alexander Luthor (New Earth)
20               Roy Harper (New Earth)
21               Kara Zor-L (Earth-Two)
22                Ted Grant (New Earth)
23           Garfield Logan (New Earth)
24              Guy Gardner (New Earth)
25             Victor Stone (New Earth)
26                   Kon-El (New Earth)
27              Ralph Dibny (New Earth)
28              James Olsen (New Earth)
29             John Stewart (New Earth)
                     ...
6866           Baron Tyrano (New Earth)
6867                 Brains (New Earth)
6868                Cracker (New Earth)
6869              Hard Head (New Earth)
6870                Zig-Zag (New Earth)
6871              Dragonfly (New Earth)
6872          Carl Bradford (New Earth)
6873             Donna Troy (New Earth)
6874      Bartholomew Magan (New Earth)
6875             James Moon (New Earth)
6876                 Flash (Wally West)
6877           J'onn J'onzz (New Earth)
6878          Dorothea Tane (New Earth)
6879                  Dmane (Earth-Two)
6880    Maximillian O'Leary (New Earth)
6881             Doris Zuel (New Earth)
6882              Doris Lee (New Earth)
6883        Patrick O'Brian (New Earth)
6884            Basil Karlo (New Earth)
6885             Catwoman (Selina Kyle)
6886               Bedivere (New Earth)
6887         Herbert Hoover (New Earth)
6888    William Howard Taft (New Earth)
6889      Frank Fitzsimmons (New Earth)
6890         James Garfield (New Earth)
6891            Nadine West (New Earth)
6892         Warren Harding (New Earth)
6893       William Harrison (New Earth)
6894       William McKinley (New Earth)
6895                 Mookie (New Earth)
Name: name, Length: 6896, dtype: object

In [12]:
df['ALIGN'].value_counts()  # Great for making sense of categorical columns

Bad Characters        2895
Good Characters       2832
Neutral Characters     565
Reformed Criminals       3
Name: ALIGN, dtype: int64

*Note: columns are `pandas.Series` objects.*

In [17]:
df[['name', 'YEAR']]

                                 name    YEAR
0                Batman (Bruce Wayne)  1939.0
1               Superman (Clark Kent)  1986.0
2          Green Lantern (Hal Jordan)  1959.0
3            James Gordon (New Earth)  1987.0
4         Richard Grayson (New Earth)  1940.0
5         Wonder Woman (Diana Prince)  1941.0
6              Aquaman (Arthur Curry)  1941.0
7           Timothy Drake (New Earth)  1989.0
8      Dinah Laurel Lance (New Earth)  1969.0
9                 Flash (Barry Allen)  1956.0
10                         GenderTest  1956.0
11             Alan Scott (New Earth)  1940.0
12         Barbara Gordon (New Earth)  1967.0
13          Jason Garrick (New Earth)  1940.0
14              Lois Lane (New Earth)  1938.0
15      Alfred Pennyworth (New Earth)  1943.0
16            Carter Hall (New Earth)  1940.0
17            Kyle Rayner (New Earth)  1994.0
18         Raymond Palmer (New Earth)  1961.0
19       Alexander Luthor (New Earth)  1986.0
20             Roy Harper (New Earth)  1941.0
21             Kara Zor-L (Earth-Two)  1976.0
22              Ted Grant (New Earth)  1942.0
23         Garfield Logan (New Earth)  1965.0
24            Guy Gardner (New Earth)  1968.0
25           Victor Stone (New Earth)  1980.0
26                 Kon-El (New Earth)  1993.0
27            Ralph Dibny (New Earth)  1960.0
28            James Olsen (New Earth)  1986.0
29           John Stewart (New Earth)  1971.0
...                               ...     ...
6866         Baron Tyrano (New Earth)  1967.0
6867               Brains (New Earth)  1967.0
6868              Cracker (New Earth)  1967.0
6869            Hard Head (New Earth)  1967.0
6870              Zig-Zag (New Earth)  1967.0
6871            Dragonfly (New Earth)  1966.0
6872        Carl Bradford (New Earth)  1966.0
6873           Donna Troy (New Earth)  1965.0
6874    Bartholomew Magan (New Earth)  1963.0
6875           James Moon (New Earth)  1962.0
6876               Flash (Wally West)  1960.0
6877         J'onn J'onzz (New Earth)  1955.0
6878        Dorothea Tane (New Earth)  1948.0
6879                Dmane (Earth-Two)  1946.0
6880  Maximillian O'Leary (New Earth)  1946.0
6881           Doris Zuel (New Earth)  1944.0
6882            Doris Lee (New Earth)  1941.0
6883      Patrick O'Brian (New Earth)  1941.0
6884          Basil Karlo (New Earth)  1940.0
6885           Catwoman (Selina Kyle)  1940.0
6886             Bedivere (New Earth)  1936.0
6887       Herbert Hoover (New Earth)     NaN
6888  William Howard Taft (New Earth)     NaN
6889    Frank Fitzsimmons (New Earth)     NaN
6890       James Garfield (New Earth)     NaN
6891          Nadine West (New Earth)     NaN
6892       Warren Harding (New Earth)     NaN
6893     William Harrison (New Earth)     NaN
6894     William McKinley (New Earth)     NaN
6895               Mookie (New Earth)     NaN

[6896 rows x 2 columns]

Boolean indexing

In [18]:
df['ALIGN'] == 'Bad Characters'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6866     True
6867    False
6868    False
6869    False
6870    False
6871     True
6872     True
6873    False
6874     True
6875    False
6876    False
6877    False
6878    False
6879     True
6880    False
6881     True
6882    False
6883    False
6884     True
6885    False
6886    False
6887    False
6888    False
6889    False
6890    False
6891    False
6892    False
6893    False
6894    False
6895     True
Name: ALIGN, Length: 6896, dtype: bool

In [34]:
df[df['ALIGN'] != 'Bad Characters'].head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [28]:
df[df['YEAR'] > 2012].head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
5539,85254,Springheeled Jack (Prime Earth),\/wiki\/Springheeled_Jack_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,"2013, October",2013.0

In [33]:
df[df['SEX'].isin(['Male Characters', 'Female Characters'])].head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [36]:
df[(df['YEAR'] > 2011) & (df['ALIGN'] == 'Bad Characters')]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
4324,379078,Ragnar (Green Lantern Animated Series),\/wiki\/Ragnar_(Green_Lantern_Animated_Series),Public Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,3.0,"2012, March",2012.0
5539,85254,Springheeled Jack (Prime Earth),\/wiki\/Springheeled_Jack_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,"2013, October",2013.0
5540,309868,Napalm (Prime Earth),\/wiki\/Napalm_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,"2012, June",2012.0
6541,306472,Matteo Bischoff (New Earth),\/wiki\/Matteo_Bischoff_(New_Earth),Secret Identity,Bad Characters,NaN,Grey Hair,Male Characters,NaN,Living Characters,NaN,"2012, May",2012.0

*Note: the only place you should realy use bitwise `&` and `|`.*

## DataFrame operations

In [37]:
states

     area  population       state
0  423967    38332521  California
1  170312    19552860     Florida
2  149995    12882135    Illinois
3  141297    19651127    New York
4  695662    26448193       Texas

In [39]:
states['population'] / 1000000

0    38.332521
1    19.552860
2    12.882135
3    19.651127
4    26.448193
Name: population, dtype: float64

In [41]:
states['population'] / states['area']

0     90.413926
1    114.806121
2     85.883763
3    139.076746
4     38.018740
dtype: float64

For common functions beyond simple math operator (e.g log, sin, etc.) we use [numpy ufuncs](https://docs.scipy.org/doc/numpy-1.13.0/reference/ufuncs.html#available-ufuncs).

In [ ]:
np.log(states['area'])

Custom functions application is the slowest but handy.

In [47]:
def is_over_populated(row):
    if row['population'] > 30000000:
        return True
    density = row['population'] / row['area']
    if density > 100:
        return True
    return False

In [50]:
states.apply(is_over_populated, axis='columns')

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [53]:
states['density'] = states['population'] / states['area']
states

     area  population       state     density
0  423967    38332521  California   90.413926
1  170312    19552860     Florida  114.806121
2  149995    12882135    Illinois   85.883763
3  141297    19651127    New York  139.076746
4  695662    26448193       Texas   38.018740

In [54]:
states['debt'] = 16.5
states

     area  population       state     density  debt
0  423967    38332521  California   90.413926  16.5
1  170312    19552860     Florida  114.806121  16.5
2  149995    12882135    Illinois   85.883763  16.5
3  141297    19651127    New York  139.076746  16.5
4  695662    26448193       Texas   38.018740  16.5

In [55]:
states.sort_values('density')

     area  population       state     density  debt
4  695662    26448193       Texas   38.018740  16.5
2  149995    12882135    Illinois   85.883763  16.5
0  423967    38332521  California   90.413926  16.5
1  170312    19552860     Florida  114.806121  16.5
3  141297    19651127    New York  139.076746  16.5

In [56]:
states.rename(columns={'population': 'pop'})

     area       pop       state     density  debt
0  423967  38332521  California   90.413926  16.5
1  170312  19552860     Florida  114.806121  16.5
2  149995  12882135    Illinois   85.883763  16.5
3  141297  19651127    New York  139.076746  16.5
4  695662  26448193       Texas   38.018740  16.5

In [57]:
states.rename(columns=str.upper)

     AREA  POPULATION       STATE     DENSITY  DEBT
0  423967    38332521  California   90.413926  16.5
1  170312    19552860     Florida  114.806121  16.5
2  149995    12882135    Illinois   85.883763  16.5
3  141297    19651127    New York  139.076746  16.5
4  695662    26448193       Texas   38.018740  16.5

## *Exercise: Let's clean our comics dataset!*

In [59]:
df

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
5,1448,Wonder Woman (Diana Prince),\/wiki\/Wonder_Woman_(Diana_Prince),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1231.0,"1941, December",1941.0
6,1486,Aquaman (Arthur Curry),\/wiki\/Aquaman_(Arthur_Curry),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1121.0,"1941, November",1941.0
7,1451,Timothy Drake (New Earth),\/wiki\/Timothy_Drake_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1095.0,"1989, August",1989.0
8,71760,Dinah Laurel Lance (New Earth),\/wiki\/Dinah_Laurel_Lance_(New_Earth),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1075.0,"1969, November",1969.0
9,1380,Flash (Barry Allen),\/wiki\/Flash_(Barry_Allen),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
10,403631,GenderTest,\/wiki\/GenderTest,Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
11,1459,Alan Scott (New Earth),\/wiki\/Alan_Scott_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,969.0,"1940, July",1940.0
12,1905,Barbara Gordon (New Earth),\/wiki\/Barbara_Gordon_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Red Hair,Female Characters,NaN,Living Characters,951.0,"1967, January",1967.0
13,1386,Jason Garrick (New Earth),\/wiki\/Jason_Garrick_(New_Earth),Public Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,951.0,"1940, January",1940.0
14,23383,Lois Lane (New Earth),\/wiki\/Lois_Lane_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,934.0,"1938, June",1938.0
15,1456,Alfred Pennyworth (New Earth),\/wiki\/Alfred_Pennyworth_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,930.0,"1943, April",1943.0
16,1849,Carter Hall (New Earth),\/wiki\/Carter_Hall_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,803.0,"1940, January",1940.0
17,4320,Kyle Rayner (New Earth),\/wiki\/Kyle_Rayner_(New_Earth),Secret Identity,Good Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,716.0,"1994, January",1994.0
18,1706,Raymond Palmer (New Earth),\/wiki\/Raymond_Palmer_(New_Earth),Public Identity,Good Characters,Brown Eyes,NaN,Male Characters,NaN,Living Characters,706.0,"1961, October",1961.0
19,1480,Alexander Luthor (New Earth),\/wiki\/Alexander_Luthor_(New_Earth),Public Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,677.0,"1986, October",1986.0
20,1556,Roy Harper (New Earth),\/wiki\/Roy_Harper_(New_Earth),Secret Identity,Neutral Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,654.0,"1941, November",1941.0
21,1580,Kara Zor-L (Earth-Two),\/wiki\/Kara_Zor-L_(Earth-Two),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,635.0,"1976, February",1976.0
22,4849,Ted Grant (New Earth),\/wiki\/Ted_Grant_(New_Earth),Secret Identity,NaN,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,605.0,"1942, January",1942.0
23,1611,Garfield Logan (New Earth),\/wiki\/Garfield_Logan_(New_Earth),Public Identity,Good Characters,Green Eyes,Green Hair,Male Characters,NaN,Living Characters,595.0,"1965, November",1965.0
24,1479,Guy Gardner (New Earth),\/wiki\/Guy_Gardner_(New_Earth),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,593.0,"1968, March",1968.0
25,1582,Victor Stone (New Earth),\/wiki\/Victor_Stone_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,584.0,"1980, October",1980.0
26,14006,Kon-El (New Earth),\/wiki\/Kon-El_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,560.0,"1993, June",1993.0
27,1484,Ralph Dibny (New Earth),\/wiki\/Ralph_Dibny_(New_Earth),Public Identity,NaN,Blue Eyes,Red Hair,Male Characters,NaN,Deceased Characters,558.0,"1960, May",1960.0
28,23391,James Olsen (New Earth),\/wiki\/James_Olsen_(New_Earth),Public Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,557.0,"1986, October",1986.0
29,1478,John Stewart (New Earth),\/wiki\/John_Stewart_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,549.0,"1971, December",1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,162822,Baron Tyrano (New Earth),\/wiki\/Baron_Tyrano_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1967, July",1967.0
6867,10025,Brains (New Earth),\/wiki\/Brains_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6868,10030,Cracker (New Earth),\/wiki\/Cracker_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6869,10031,Hard Head (New Earth),\/wiki\/Hard_Head_(New_Earth),NaN,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6870,10032,Zig-Zag (New Earth),\/wiki\/Zig-Zag_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6871,228659,Dragonfly (New Earth),\/wiki\/Dragonfly_(New_Earth),Secret Identity,Bad Characters,NaN,Black Hair,Female Characters,NaN,Living Characters,NaN,"1966, June",1966.0
6872,129755,Carl Bradford (New Earth),\/wiki\/Carl_Bradford_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1966, January",1966.0
6873,1449,Donna Troy (New Earth),\/wiki\/Donna_Troy_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1965, July",1965.0
6874,128098,Bartholomew Magan (New Earth),\/wiki\/Bartholomew_Magan_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1963, September",1963.0
6875,22325,James Moon (New Earth),\/wiki\/James_Moon_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1962, March",1962.0
6876,1383,Flash (Wally West),\/wiki\/Flash_(Wally_West),Secret Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,NaN,"1960, January",1960.0
6877,1485,J'onn J'onzz (New Earth),\/wiki\/J%27onn_J%27onzz_(New_Earth),Public Identity,Good Characters,Red Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1955, November",1955.0
6878,34617,Dorothea Tane (New Earth),\/wiki\/Dorothea_Tane_(New_Earth),NaN,NaN,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1948, August",1948.0
6879,238641,Dmane (Earth-Two),\/wiki\/Dmane_(Earth-Two),NaN,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1946, April",1946.0
6880,258830,Maximillian O'Leary (New Earth),\/wiki\/Maximillian_O%27Leary_(New_Earth),Public Identity,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1946, January",1946.0
6881,1624,Doris Zuel (New Earth),\/wiki\/Doris_Zuel_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,NaN,"1944, June",1944.0
6882,22701,Doris Lee (New Earth),\/wiki\/Doris_Lee_(New_Earth),Public Identity,NaN,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,NaN,"1941, April",1941.0
6883,1581,Patrick O'Brian (New Earth),\/wiki\/Patrick_O%27Brian_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1941, August",1941.0
6884,1473,Basil Karlo (New Earth),\/wiki\/Basil_Karlo_(New_Earth),Secret Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6885,1460,Catwoman (Selina Kyle),\/wiki\/Catwoman_(Selina_Kyle),Secret Identity,Neutral Characters,Green Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6886,289378,Bedivere (New Earth),\/wiki\/Bedivere_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1936, February",1936.0
6887,283661,Herbert Hoover (New Earth),\/wiki\/Herbert_Hoover_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6888,283657,William Howard Taft (New Earth),\/wiki\/William_Howard_Taft_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6889,21655,Frank Fitzsimmons (New Earth),\/wiki\/Frank_Fitzsimmons_(New_Earth),Public Identity,Good Characters,NaN,Grey Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6890,283482,James Garfield (New Earth),\/wiki\/James_Garfield_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [63]:
def first_word(text):
    if isinstance(text, str):  # Because we can't split NaN
        words = text.split()
        return words[0]
    return text

In [65]:
def apply(func, arg):
    return func(arg)

apply(str.upper, 'hello')

'HELLO'

In [62]:
df['SEX'].apply(first_word)

0         Male
1         Male
2         Male
3         Male
4         Male
5       Female
6         Male
7         Male
8       Female
9         Male
10      Female
11        Male
12      Female
13        Male
14      Female
15        Male
16        Male
17        Male
18        Male
19        Male
20        Male
21      Female
22        Male
23        Male
24        Male
25        Male
26        Male
27        Male
28        Male
29        Male
         ...
6866      Male
6867      Male
6868      Male
6869      Male
6870      Male
6871    Female
6872      Male
6873    Female
6874      Male
6875      Male
6876      Male
6877      Male
6878    Female
6879      Male
6880      Male
6881    Female
6882    Female
6883      Male
6884      Male
6885    Female
6886      Male
6887      Male
6888      Male
6889      Male
6890      Male
6891    Female
6892      Male
6893      Male
6894      Male
6895      Male
Name: SEX, Length: 6896, dtype: object

1. Apply the `first_word` function to the columns: `['ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE']`. Set the result into the same column.
1. Rename the columns to lower case letters. Hint: use the `str.lower` function.
1. Check your result using `df.head()`.

In [66]:
for col in ['ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE']:
    df[col] = df[col].apply(first_word)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret,Good,Blue,Black,Male,NaN,Living,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret,Good,Blue,Black,Male,NaN,Living,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret,Good,Brown,Brown,Male,NaN,Living,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public,Good,Brown,White,Male,NaN,Living,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret,Good,Blue,Black,Male,NaN,Living,1237.0,"1940, April",1940.0

In [70]:
df = df.rename(columns=str.lower)

In [72]:
df.head()

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret,Good,Blue,Black,Male,NaN,Living,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret,Good,Blue,Black,Male,NaN,Living,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret,Good,Brown,Brown,Male,NaN,Living,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public,Good,Brown,White,Male,NaN,Living,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret,Good,Blue,Black,Male,NaN,Living,1237.0,"1940, April",1940.0

In [ ]:
df.to_csv('data/dc-wikia-data-clean.csv', index=False)

## Handling missing data

In [73]:
df = pd.read_csv('data/dc-wikia-data-clean.csv')

Checks

In [74]:
df['year'].isnull()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6866    False
6867    False
6868    False
6869    False
6870    False
6871    False
6872    False
6873    False
6874    False
6875    False
6876    False
6877    False
6878    False
6879    False
6880    False
6881    False
6882    False
6883    False
6884    False
6885    False
6886    False
6887     True
6888     True
6889     True
6890     True
6891     True
6892     True
6893     True
6894     True
6895     True
Name: year, Length: 6896, dtype: bool

In [77]:
df[df['gsm'].notnull()].head()

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
48,1704,John Constantine (New Earth),\/wiki\/John_Constantine_(New_Earth),Public,Good,Blue,Blond,Male,Bisexual,Living,371.0,"1984, June",1984.0
65,8856,Renee Montoya (New Earth),\/wiki\/Renee_Montoya_(New_Earth),Secret,Good,Brown,Black,Female,Homosexual,Living,308.0,"1992, March",1992.0
119,1862,Todd Rice (New Earth),\/wiki\/Todd_Rice_(New_Earth),Public,Good,Brown,Brown,Male,Homosexual,Living,208.0,"1983, September",1983.0
134,1658,Margaret Sawyer (New Earth),\/wiki\/Margaret_Sawyer_(New_Earth),Public,NaN,Blue,NaN,Female,Homosexual,Living,180.0,"1987, April",1987.0
173,1597,Hartley Rathaway (New Earth),\/wiki\/Hartley_Rathaway_(New_Earth),Secret,Good,Blue,Red,Male,Homosexual,Living,160.0,"1959, May",1959.0

Filtering out

In [ ]:
df.dropna(subset=['gsm'])

Filling empty values

In [81]:
df['year'].fillna(2000).tail(10)

6886    1936.0
6887    2000.0
6888    2000.0
6889    2000.0
6890    2000.0
6891    2000.0
6892    2000.0
6893    2000.0
6894    2000.0
6895    2000.0
Name: year, dtype: float64

*Note: operations return new DataFrames. They doesn't change them in-place.*

## *Exercises*

1. What is the hair color of the first character that is of a gender or sexual minority?
1. When the last neutral gender or sexual minority character was instroduced?
1. What is the percentage of good gender or sexual minority characters? Compare this to the percentage of good characters in general.