# Organising

In [1]:
import numpy as np
import pandas as pd

## The `pandas.DataFrame` object

In [2]:
data = [
    {'state': 'California', 'area': 423967, 'population': 38332521},
    {'state': 'Florida', 'area': 170312, 'population': 19552860},
    {'state': 'Illinois', 'area': 149995, 'population': 12882135},
    {'state': 'New York', 'area': 141297, 'population': 19651127},
    {'state': 'Texas', 'area': 695662, 'population': 26448193},
]

states = pd.DataFrame(data)
states

     area  population       state
0  423967    38332521  California
1  170312    19552860     Florida
2  149995    12882135    Illinois
3  141297    19651127    New York
4  695662    26448193       Texas

*Notes: [There are many ways to construct DataFrames](https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.01-Introducing-Pandas-Objects.ipynb) (see "Constructing DataFrame objects"), or [reading data from files](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html). In most cases rows should be either independent samples (also known as [tidy format](http://vita.had.co.nz/papers/tidy-data.pdf)) or timestamps.*

### Loading from file

[Comic characters dataset from fivethirtyeight](https://github.com/fivethirtyeight/data/tree/master/comic-characters).

In [3]:
df = pd.read_csv('data/dc-wikia-data.csv')

In [4]:
df

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0
5,1448,Wonder Woman (Diana Prince),\/wiki\/Wonder_Woman_(Diana_Prince),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,1231.0,"1941, December",1941.0
6,1486,Aquaman (Arthur Curry),\/wiki\/Aquaman_(Arthur_Curry),Public Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1121.0,"1941, November",1941.0
7,1451,Timothy Drake (New Earth),\/wiki\/Timothy_Drake_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1095.0,"1989, August",1989.0
8,71760,Dinah Laurel Lance (New Earth),\/wiki\/Dinah_Laurel_Lance_(New_Earth),Public Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1075.0,"1969, November",1969.0
9,1380,Flash (Barry Allen),\/wiki\/Flash_(Barry_Allen),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
10,403631,GenderTest,\/wiki\/GenderTest,Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,1028.0,"1956, October",1956.0
11,1459,Alan Scott (New Earth),\/wiki\/Alan_Scott_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Deceased Characters,969.0,"1940, July",1940.0
12,1905,Barbara Gordon (New Earth),\/wiki\/Barbara_Gordon_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Red Hair,Female Characters,NaN,Living Characters,951.0,"1967, January",1967.0
13,1386,Jason Garrick (New Earth),\/wiki\/Jason_Garrick_(New_Earth),Public Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,951.0,"1940, January",1940.0
14,23383,Lois Lane (New Earth),\/wiki\/Lois_Lane_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,934.0,"1938, June",1938.0
15,1456,Alfred Pennyworth (New Earth),\/wiki\/Alfred_Pennyworth_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,930.0,"1943, April",1943.0
16,1849,Carter Hall (New Earth),\/wiki\/Carter_Hall_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,803.0,"1940, January",1940.0
17,4320,Kyle Rayner (New Earth),\/wiki\/Kyle_Rayner_(New_Earth),Secret Identity,Good Characters,Green Eyes,Black Hair,Male Characters,NaN,Living Characters,716.0,"1994, January",1994.0
18,1706,Raymond Palmer (New Earth),\/wiki\/Raymond_Palmer_(New_Earth),Public Identity,Good Characters,Brown Eyes,NaN,Male Characters,NaN,Living Characters,706.0,"1961, October",1961.0
19,1480,Alexander Luthor (New Earth),\/wiki\/Alexander_Luthor_(New_Earth),Public Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,677.0,"1986, October",1986.0
20,1556,Roy Harper (New Earth),\/wiki\/Roy_Harper_(New_Earth),Secret Identity,Neutral Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,654.0,"1941, November",1941.0
21,1580,Kara Zor-L (Earth-Two),\/wiki\/Kara_Zor-L_(Earth-Two),Secret Identity,Good Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,635.0,"1976, February",1976.0
22,4849,Ted Grant (New Earth),\/wiki\/Ted_Grant_(New_Earth),Secret Identity,NaN,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,605.0,"1942, January",1942.0
23,1611,Garfield Logan (New Earth),\/wiki\/Garfield_Logan_(New_Earth),Public Identity,Good Characters,Green Eyes,Green Hair,Male Characters,NaN,Living Characters,595.0,"1965, November",1965.0
24,1479,Guy Gardner (New Earth),\/wiki\/Guy_Gardner_(New_Earth),Public Identity,Good Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,593.0,"1968, March",1968.0
25,1582,Victor Stone (New Earth),\/wiki\/Victor_Stone_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,584.0,"1980, October",1980.0
26,14006,Kon-El (New Earth),\/wiki\/Kon-El_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,560.0,"1993, June",1993.0
27,1484,Ralph Dibny (New Earth),\/wiki\/Ralph_Dibny_(New_Earth),Public Identity,NaN,Blue Eyes,Red Hair,Male Characters,NaN,Deceased Characters,558.0,"1960, May",1960.0
28,23391,James Olsen (New Earth),\/wiki\/James_Olsen_(New_Earth),Public Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,557.0,"1986, October",1986.0
29,1478,John Stewart (New Earth),\/wiki\/John_Stewart_(New_Earth),Public Identity,Good Characters,Brown Eyes,Black Hair,Male Characters,NaN,Living Characters,549.0,"1971, December",1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6866,162822,Baron Tyrano (New Earth),\/wiki\/Baron_Tyrano_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1967, July",1967.0
6867,10025,Brains (New Earth),\/wiki\/Brains_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6868,10030,Cracker (New Earth),\/wiki\/Cracker_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6869,10031,Hard Head (New Earth),\/wiki\/Hard_Head_(New_Earth),NaN,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1967, April",1967.0
6870,10032,Zig-Zag (New Earth),\/wiki\/Zig-Zag_(New_Earth),NaN,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1967, June",1967.0
6871,228659,Dragonfly (New Earth),\/wiki\/Dragonfly_(New_Earth),Secret Identity,Bad Characters,NaN,Black Hair,Female Characters,NaN,Living Characters,NaN,"1966, June",1966.0
6872,129755,Carl Bradford (New Earth),\/wiki\/Carl_Bradford_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1966, January",1966.0
6873,1449,Donna Troy (New Earth),\/wiki\/Donna_Troy_(New_Earth),Public Identity,Good Characters,Blue Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1965, July",1965.0
6874,128098,Bartholomew Magan (New Earth),\/wiki\/Bartholomew_Magan_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1963, September",1963.0
6875,22325,James Moon (New Earth),\/wiki\/James_Moon_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1962, March",1962.0
6876,1383,Flash (Wally West),\/wiki\/Flash_(Wally_West),Secret Identity,Good Characters,Green Eyes,Red Hair,Male Characters,NaN,Living Characters,NaN,"1960, January",1960.0
6877,1485,J'onn J'onzz (New Earth),\/wiki\/J%27onn_J%27onzz_(New_Earth),Public Identity,Good Characters,Red Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1955, November",1955.0
6878,34617,Dorothea Tane (New Earth),\/wiki\/Dorothea_Tane_(New_Earth),NaN,NaN,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1948, August",1948.0
6879,238641,Dmane (Earth-Two),\/wiki\/Dmane_(Earth-Two),NaN,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1946, April",1946.0
6880,258830,Maximillian O'Leary (New Earth),\/wiki\/Maximillian_O%27Leary_(New_Earth),Public Identity,Good Characters,NaN,Black Hair,Male Characters,NaN,Living Characters,NaN,"1946, January",1946.0
6881,1624,Doris Zuel (New Earth),\/wiki\/Doris_Zuel_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,NaN,"1944, June",1944.0
6882,22701,Doris Lee (New Earth),\/wiki\/Doris_Lee_(New_Earth),Public Identity,NaN,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,NaN,"1941, April",1941.0
6883,1581,Patrick O'Brian (New Earth),\/wiki\/Patrick_O%27Brian_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1941, August",1941.0
6884,1473,Basil Karlo (New Earth),\/wiki\/Basil_Karlo_(New_Earth),Secret Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6885,1460,Catwoman (Selina Kyle),\/wiki\/Catwoman_(Selina_Kyle),Secret Identity,Neutral Characters,Green Eyes,Black Hair,Female Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6886,289378,Bedivere (New Earth),\/wiki\/Bedivere_(New_Earth),NaN,NaN,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1936, February",1936.0
6887,283661,Herbert Hoover (New Earth),\/wiki\/Herbert_Hoover_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6888,283657,William Howard Taft (New Earth),\/wiki\/William_Howard_Taft_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6889,21655,Frank Fitzsimmons (New Earth),\/wiki\/Frank_Fitzsimmons_(New_Earth),Public Identity,Good Characters,NaN,Grey Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6890,283482,James Garfield (New Earth),\/wiki\/James_Garfield_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

*Notes: [you can read and write files in many formats](https://pandas.pydata.org/pandas-docs/stable/io.html). `read_csv` (and other variants) can also read directly from a url.*

## Inspecting DataFrames

In [7]:
df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [8]:
df.tail()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [9]:
df.dtypes

page_id               int64
name                 object
urlslug              object
ID                   object
ALIGN                object
EYE                  object
HAIR                 object
SEX                  object
GSM                  object
ALIVE                object
APPEARANCES         float64
FIRST APPEARANCE     object
YEAR                float64
dtype: object

In [10]:
df.describe()

             page_id  APPEARANCES         YEAR
count    6896.000000  6541.000000  6827.000000
mean   147441.209252    23.625134  1989.766662
std    108388.631149    87.378509    16.824194
min      1380.000000     1.000000  1935.000000
25%     44105.500000     2.000000  1983.000000
50%    141267.000000     6.000000  1992.000000
75%    213203.000000    15.000000  2003.000000
max    404010.000000  3093.000000  2013.000000

In [11]:
print('len:', len(df))
print('shape:', df.shape)

len: 6896
shape: (6896, 13)

## Selecting

In [12]:
df['name']

0                  Batman (Bruce Wayne)
1                 Superman (Clark Kent)
2            Green Lantern (Hal Jordan)
3              James Gordon (New Earth)
4           Richard Grayson (New Earth)
5           Wonder Woman (Diana Prince)
6                Aquaman (Arthur Curry)
7             Timothy Drake (New Earth)
8        Dinah Laurel Lance (New Earth)
9                   Flash (Barry Allen)
10                           GenderTest
11               Alan Scott (New Earth)
12           Barbara Gordon (New Earth)
13            Jason Garrick (New Earth)
14                Lois Lane (New Earth)
15        Alfred Pennyworth (New Earth)
16              Carter Hall (New Earth)
17              Kyle Rayner (New Earth)
18           Raymond Palmer (New Earth)
19         Alexander Luthor (New Earth)
20               Roy Harper (New Earth)
21               Kara Zor-L (Earth-Two)
22                Ted Grant (New Earth)
23           Garfield Logan (New Earth)
24              Guy Gardner (New Earth)
25             Victor Stone (New Earth)
26                   Kon-El (New Earth)
27              Ralph Dibny (New Earth)
28              James Olsen (New Earth)
29             John Stewart (New Earth)
                     ...
6866           Baron Tyrano (New Earth)
6867                 Brains (New Earth)
6868                Cracker (New Earth)
6869              Hard Head (New Earth)
6870                Zig-Zag (New Earth)
6871              Dragonfly (New Earth)
6872          Carl Bradford (New Earth)
6873             Donna Troy (New Earth)
6874      Bartholomew Magan (New Earth)
6875             James Moon (New Earth)
6876                 Flash (Wally West)
6877           J'onn J'onzz (New Earth)
6878          Dorothea Tane (New Earth)
6879                  Dmane (Earth-Two)
6880    Maximillian O'Leary (New Earth)
6881             Doris Zuel (New Earth)
6882              Doris Lee (New Earth)
6883        Patrick O'Brian (New Earth)
6884            Basil Karlo (New Earth)
6885             Catwoman (Selina Kyle)
6886               Bedivere (New Earth)
6887         Herbert Hoover (New Earth)
6888    William Howard Taft (New Earth)
6889      Frank Fitzsimmons (New Earth)
6890         James Garfield (New Earth)
6891            Nadine West (New Earth)
6892         Warren Harding (New Earth)
6893       William Harrison (New Earth)
6894       William McKinley (New Earth)
6895                 Mookie (New Earth)
Name: name, Length: 6896, dtype: object

In [13]:
df.name  # This is the same, but be careful with methods

0                  Batman (Bruce Wayne)
1                 Superman (Clark Kent)
2            Green Lantern (Hal Jordan)
3              James Gordon (New Earth)
4           Richard Grayson (New Earth)
5           Wonder Woman (Diana Prince)
6                Aquaman (Arthur Curry)
7             Timothy Drake (New Earth)
8        Dinah Laurel Lance (New Earth)
9                   Flash (Barry Allen)
10                           GenderTest
11               Alan Scott (New Earth)
12           Barbara Gordon (New Earth)
13            Jason Garrick (New Earth)
14                Lois Lane (New Earth)
15        Alfred Pennyworth (New Earth)
16              Carter Hall (New Earth)
17              Kyle Rayner (New Earth)
18           Raymond Palmer (New Earth)
19         Alexander Luthor (New Earth)
20               Roy Harper (New Earth)
21               Kara Zor-L (Earth-Two)
22                Ted Grant (New Earth)
23           Garfield Logan (New Earth)
24              Guy Gardner (New Earth)
25             Victor Stone (New Earth)
26                   Kon-El (New Earth)
27              Ralph Dibny (New Earth)
28              James Olsen (New Earth)
29             John Stewart (New Earth)
                     ...
6866           Baron Tyrano (New Earth)
6867                 Brains (New Earth)
6868                Cracker (New Earth)
6869              Hard Head (New Earth)
6870                Zig-Zag (New Earth)
6871              Dragonfly (New Earth)
6872          Carl Bradford (New Earth)
6873             Donna Troy (New Earth)
6874      Bartholomew Magan (New Earth)
6875             James Moon (New Earth)
6876                 Flash (Wally West)
6877           J'onn J'onzz (New Earth)
6878          Dorothea Tane (New Earth)
6879                  Dmane (Earth-Two)
6880    Maximillian O'Leary (New Earth)
6881             Doris Zuel (New Earth)
6882              Doris Lee (New Earth)
6883        Patrick O'Brian (New Earth)
6884            Basil Karlo (New Earth)
6885             Catwoman (Selina Kyle)
6886               Bedivere (New Earth)
6887         Herbert Hoover (New Earth)
6888    William Howard Taft (New Earth)
6889      Frank Fitzsimmons (New Earth)
6890         James Garfield (New Earth)
6891            Nadine West (New Earth)
6892         Warren Harding (New Earth)
6893       William Harrison (New Earth)
6894       William McKinley (New Earth)
6895                 Mookie (New Earth)
Name: name, Length: 6896, dtype: object

In [17]:
df['ALIGN'].value_counts()  # Great for making sense of categorical columns

Bad Characters        2895
Good Characters       2832
Neutral Characters     565
Reformed Criminals       3
Name: ALIGN, dtype: int64

*Note: columns are `pandas.Series` objects.*

In [14]:
df[['name', 'YEAR']]

                                 name    YEAR
0                Batman (Bruce Wayne)  1939.0
1               Superman (Clark Kent)  1986.0
2          Green Lantern (Hal Jordan)  1959.0
3            James Gordon (New Earth)  1987.0
4         Richard Grayson (New Earth)  1940.0
5         Wonder Woman (Diana Prince)  1941.0
6              Aquaman (Arthur Curry)  1941.0
7           Timothy Drake (New Earth)  1989.0
8      Dinah Laurel Lance (New Earth)  1969.0
9                 Flash (Barry Allen)  1956.0
10                         GenderTest  1956.0
11             Alan Scott (New Earth)  1940.0
12         Barbara Gordon (New Earth)  1967.0
13          Jason Garrick (New Earth)  1940.0
14              Lois Lane (New Earth)  1938.0
15      Alfred Pennyworth (New Earth)  1943.0
16            Carter Hall (New Earth)  1940.0
17            Kyle Rayner (New Earth)  1994.0
18         Raymond Palmer (New Earth)  1961.0
19       Alexander Luthor (New Earth)  1986.0
20             Roy Harper (New Earth)  1941.0
21             Kara Zor-L (Earth-Two)  1976.0
22              Ted Grant (New Earth)  1942.0
23         Garfield Logan (New Earth)  1965.0
24            Guy Gardner (New Earth)  1968.0
25           Victor Stone (New Earth)  1980.0
26                 Kon-El (New Earth)  1993.0
27            Ralph Dibny (New Earth)  1960.0
28            James Olsen (New Earth)  1986.0
29           John Stewart (New Earth)  1971.0
...                               ...     ...
6866         Baron Tyrano (New Earth)  1967.0
6867               Brains (New Earth)  1967.0
6868              Cracker (New Earth)  1967.0
6869            Hard Head (New Earth)  1967.0
6870              Zig-Zag (New Earth)  1967.0
6871            Dragonfly (New Earth)  1966.0
6872        Carl Bradford (New Earth)  1966.0
6873           Donna Troy (New Earth)  1965.0
6874    Bartholomew Magan (New Earth)  1963.0
6875           James Moon (New Earth)  1962.0
6876               Flash (Wally West)  1960.0
6877         J'onn J'onzz (New Earth)  1955.0
6878        Dorothea Tane (New Earth)  1948.0
6879                Dmane (Earth-Two)  1946.0
6880  Maximillian O'Leary (New Earth)  1946.0
6881           Doris Zuel (New Earth)  1944.0
6882            Doris Lee (New Earth)  1941.0
6883      Patrick O'Brian (New Earth)  1941.0
6884          Basil Karlo (New Earth)  1940.0
6885           Catwoman (Selina Kyle)  1940.0
6886             Bedivere (New Earth)  1936.0
6887       Herbert Hoover (New Earth)     NaN
6888  William Howard Taft (New Earth)     NaN
6889    Frank Fitzsimmons (New Earth)     NaN
6890       James Garfield (New Earth)     NaN
6891          Nadine West (New Earth)     NaN
6892       Warren Harding (New Earth)     NaN
6893     William Harrison (New Earth)     NaN
6894     William McKinley (New Earth)     NaN
6895               Mookie (New Earth)     NaN

[6896 rows x 2 columns]

Boolean indexing

In [19]:
df['ALIGN'].value_counts()

Bad Characters        2895
Good Characters       2832
Neutral Characters     565
Reformed Criminals       3
Name: ALIGN, dtype: int64

In [24]:
df['ALIGN'] == 'Bad Characters'

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19       True
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6866     True
6867    False
6868    False
6869    False
6870    False
6871     True
6872     True
6873    False
6874     True
6875    False
6876    False
6877    False
6878    False
6879     True
6880    False
6881     True
6882    False
6883    False
6884     True
6885    False
6886    False
6887    False
6888    False
6889    False
6890    False
6891    False
6892    False
6893    False
6894    False
6895     True
Name: ALIGN, Length: 6896, dtype: bool

In [25]:
df[df['ALIGN'] == 'Bad Characters']

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
19,1480,Alexander Luthor (New Earth),\/wiki\/Alexander_Luthor_(New_Earth),Public Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,677.0,"1986, October",1986.0
30,1455,Joker (New Earth),\/wiki\/Joker_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Green Hair,Male Characters,NaN,Living Characters,517.0,"1940, June",1940.0
44,1514,Uxas (New Earth),\/wiki\/Uxas_(New_Earth),Public Identity,Bad Characters,Red Eyes,NaN,Male Characters,NaN,Deceased Characters,388.0,"1970, December",1970.0
66,1471,Harvey Dent (New Earth),\/wiki\/Harvey_Dent_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,306.0,"1942, August",1942.0
107,1675,Jonathan Crane (New Earth),\/wiki\/Jonathan_Crane_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Brown Hair,Male Characters,NaN,Living Characters,222.0,"1941, September",1941.0
135,37701,Waylon Jones (New Earth),\/wiki\/Waylon_Jones_(New_Earth),Public Identity,Bad Characters,Red Eyes,NaN,Male Characters,NaN,Living Characters,180.0,"1983, March",1983.0
137,1518,Gorilla Grodd (New Earth),\/wiki\/Gorilla_Grodd_(New_Earth),Public Identity,Bad Characters,Grey Eyes,Black Hair,Male Characters,NaN,Living Characters,179.0,"1959, May",1959.0
138,4778,Talia al Ghul (New Earth),\/wiki\/Talia_al_Ghul_(New_Earth),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Female Characters,NaN,Deceased Characters,177.0,"1971, May",1971.0
148,1583,Cyrus Gold (New Earth),\/wiki\/Cyrus_Gold_(New_Earth),Secret Identity,Bad Characters,Black Eyes,White Hair,Male Characters,NaN,Deceased Characters,174.0,"1944, October",1944.0
155,1482,Jean Loring (New Earth),\/wiki\/Jean_Loring_(New_Earth),Public Identity,Bad Characters,Green Eyes,Black Hair,Female Characters,NaN,Deceased Characters,168.0,"1961, October",1961.0
176,2755,DeSaad (New Earth),\/wiki\/DeSaad_(New_Earth),Public Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Living Characters,158.0,"1971, May",1971.0
178,1463,Bane (New Earth),\/wiki\/Bane_(New_Earth),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,157.0,"1993, January",1993.0
183,1469,Harleen Quinzel (New Earth),\/wiki\/Harleen_Quinzel_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Female Characters,NaN,Living Characters,153.0,"1999, October",1999.0
185,3656,Mark Mardon (New Earth),\/wiki\/Mark_Mardon_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,152.0,"1960, January",1960.0
191,1708,Victor Fries (New Earth),\/wiki\/Victor_Fries_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,143.0,"1959, February",1959.0
193,1840,Arthur Light (New Earth),\/wiki\/Arthur_Light_(New_Earth),Public Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Deceased Characters,142.0,"1962, June",1962.0
213,1789,Eclipso (New Earth),\/wiki\/Eclipso_(New_Earth),Secret Identity,Bad Characters,Red Eyes,Black Hair,Male Characters,NaN,Living Characters,131.0,"1963, July",1963.0
224,5959,Ares (New Earth),\/wiki\/Ares_(New_Earth),Public Identity,Bad Characters,Red Eyes,Blond Hair,Male Characters,NaN,Living Characters,127.0,"1987, February",1987.0
227,5302,Emil Hamilton (New Earth),\/wiki\/Emil_Hamilton_(New_Earth),Public Identity,Bad Characters,Hazel Eyes,Grey Hair,Male Characters,NaN,Living Characters,126.0,"1987, January",1987.0
247,1520,Evan McCulloch (New Earth),\/wiki\/Evan_McCulloch_(New_Earth),Secret Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,116.0,"1989, February",1989.0
250,1718,Granny Goodness (New Earth),\/wiki\/Granny_Goodness_(New_Earth),Public Identity,Bad Characters,Blue Eyes,White Hair,Female Characters,NaN,Deceased Characters,115.0,"1971, June",1971.0
255,1845,Jason Woodrue (New Earth),\/wiki\/Jason_Woodrue_(New_Earth),Public Identity,Bad Characters,Red Eyes,Green Hair,Male Characters,NaN,Living Characters,113.0,"1962, July",1962.0
278,1470,Jervis Tetch (New Earth),\/wiki\/Jervis_Tetch_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,Red Hair,Male Characters,NaN,Living Characters,105.0,"1948, October",1948.0
286,1643,Jade Nguyen (New Earth),\/wiki\/Jade_Nguyen_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Black Hair,Female Characters,NaN,Living Characters,103.0,"1983, August",1983.0
290,15618,Vril Dox I (New Earth),\/wiki\/Vril_Dox_I_(New_Earth),Secret Identity,Bad Characters,Green Eyes,NaN,Male Characters,NaN,Living Characters,102.0,"1988, March",1988.0
291,144550,Adolf Hitler (New Earth),\/wiki\/Adolf_Hitler_(New_Earth),Public Identity,Bad Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,101.0,"1942, March",1942.0
298,1623,Noah Kuttler (New Earth),\/wiki\/Noah_Kuttler_(New_Earth),Public Identity,Bad Characters,Green Eyes,Brown Hair,Male Characters,NaN,Living Characters,98.0,"1976, September",1976.0
299,1903,Despero (New Earth),\/wiki\/Despero_(New_Earth),Public Identity,Bad Characters,Yellow Eyes,NaN,Male Characters,NaN,Living Characters,98.0,"1960, November",1960.0
301,16693,Tef\u00e9 Holland (New Earth),\/wiki\/Tef%C3%A9_Holland_(New_Earth),NaN,Bad Characters,Blue Eyes,White Hair,Female Characters,Bisexual Characters,Living Characters,97.0,"1989, December",1989.0
303,1851,Jeffrey Franklin Burr (New Earth),\/wiki\/Jeffrey_Franklin_Burr_(New_Earth),Secret Identity,Bad Characters,Black Eyes,NaN,Male Characters,NaN,Deceased Characters,97.0,"1976, March",1976.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6808,189279,Mage (New Earth),\/wiki\/Mage_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,1983,1983.0
6809,238783,V'lana (New Earth),\/wiki\/V%27lana_(New_Earth),Secret Identity,Bad Characters,NaN,Black Hair,Female Characters,NaN,Living Characters,NaN,"1983, January",1983.0
6810,348340,Wen Ch'ang (New Earth),\/wiki\/Wen_Ch%27ang_(New_Earth),Secret Identity,Bad Characters,NaN,White Hair,Male Characters,NaN,Living Characters,NaN,"1983, August",1983.0
6814,183480,Bloodclaw (New Earth),\/wiki\/Bloodclaw_(New_Earth),NaN,Bad Characters,NaN,Brown Hair,Male Characters,NaN,Living Characters,NaN,"1982, November",1982.0
6818,2446,Komand'r (New Earth),\/wiki\/Komand%27r_(New_Earth),Secret Identity,Bad Characters,Green Eyes,NaN,Female Characters,NaN,Living Characters,NaN,"1982, September",1982.0
6820,191806,Nullifier (New Earth),\/wiki\/Nullifier_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1982, April",1982.0
6823,67333,Basil Nurblin (New Earth),\/wiki\/Basil_Nurblin_(New_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,NaN,"1981, December",1981.0
6824,51174,Dragon King (New Earth),\/wiki\/Dragon_King_(New_Earth),Secret Identity,Bad Characters,Brown Eyes,NaN,Male Characters,NaN,Deceased Characters,NaN,"1981, December",1981.0
6826,184069,Charioteer (New Earth),\/wiki\/Charioteer_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6827,184587,Death II (Earth-One),\/wiki\/Death_II_(Earth-One),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6828,184608,Devil (Earth-One),\/wiki\/Devil_(Earth-One),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6829,186205,Fool (Earth-One),\/wiki\/Fool_(Earth-One),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6831,186943,Hermit (Earth-One),\/wiki\/Hermit_(Earth-One),NaN,Bad Characters,NaN,White Hair,Male Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6832,186945,High Priestess (Earth-One),\/wiki\/High_Priestess_(Earth-One),NaN,Bad Characters,NaN,Blond Hair,Female Characters,NaN,Living Characters,NaN,"1981, September",1981.0
6836,15097,Mikron O'Jeneus (New Earth),\/wiki\/Mikron_O%27Jeneus_(New_Earth),Public Identity,Bad Characters,Green Eyes,Brown Hair,Male Characters,NaN,Deceased Characters,NaN,"1981, January",1981.0
6846,118750,Bartholomew Higgins (New Earth),\/wiki\/Bartholomew_Higgins_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1977, June",1977.0
6847,129689,Ffa'rzz (New Earth),\/wiki\/Ffa%27rzz_(New_Earth),Public Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1977, September",1977.0
6848,342124,Gargon (New Earth),\/wiki\/Gargon_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1977, August",1977.0
6850,128101,Norman Techno (New Earth),\/wiki\/Norman_Techno_(New_Earth),NaN,Bad Characters,NaN,Brown Hair,Male Characters,NaN,Living Characters,NaN,"1977, July",1977.0
6853,54248,M'nagalah (New Earth),\/wiki\/M%27nagalah_(New_Earth),Secret Identity,Bad Characters,NaN,NaN,Genderless Characters,NaN,Living Characters,NaN,"1974, February",1974.0
6855,263173,Dragorin (New Earth),\/wiki\/Dragorin_(New_Earth),Public Identity,Bad Characters,Red Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1971, October",1971.0
6856,1466,Ra's al Ghul (New Earth),\/wiki\/Ra%27s_al_Ghul_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Grey Hair,Male Characters,NaN,Deceased Characters,NaN,"1971, June",1971.0
6866,162822,Baron Tyrano (New Earth),\/wiki\/Baron_Tyrano_(New_Earth),Secret Identity,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1967, July",1967.0
6871,228659,Dragonfly (New Earth),\/wiki\/Dragonfly_(New_Earth),Secret Identity,Bad Characters,NaN,Black Hair,Female Characters,NaN,Living Characters,NaN,"1966, June",1966.0
6872,129755,Carl Bradford (New Earth),\/wiki\/Carl_Bradford_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1966, January",1966.0
6874,128098,Bartholomew Magan (New Earth),\/wiki\/Bartholomew_Magan_(New_Earth),NaN,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,"1963, September",1963.0
6879,238641,Dmane (Earth-Two),\/wiki\/Dmane_(Earth-Two),NaN,Bad Characters,Blue Eyes,NaN,Male Characters,NaN,Living Characters,NaN,"1946, April",1946.0
6881,1624,Doris Zuel (New Earth),\/wiki\/Doris_Zuel_(New_Earth),Secret Identity,Bad Characters,Green Eyes,Red Hair,Female Characters,NaN,Living Characters,NaN,"1944, June",1944.0
6884,1473,Basil Karlo (New Earth),\/wiki\/Basil_Karlo_(New_Earth),Secret Identity,Bad Characters,Black Eyes,Black Hair,Male Characters,NaN,Living Characters,NaN,"1940, June",1940.0
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN

In [27]:
df[df['YEAR'] > 2012]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
5539,85254,Springheeled Jack (Prime Earth),\/wiki\/Springheeled_Jack_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,"2013, October",2013.0

In [ ]:
df[df['SEX'].isin(['Male Characters', 'Female Characters'])]

In [31]:
df[(df['YEAR'] > 2011) & (df['ALIGN'] == 'Bad Characters')]

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
4324,379078,Ragnar (Green Lantern Animated Series),\/wiki\/Ragnar_(Green_Lantern_Animated_Series),Public Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,3.0,"2012, March",2012.0
5539,85254,Springheeled Jack (Prime Earth),\/wiki\/Springheeled_Jack_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Living Characters,1.0,"2013, October",2013.0
5540,309868,Napalm (Prime Earth),\/wiki\/Napalm_(Prime_Earth),Secret Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,"2012, June",2012.0
6541,306472,Matteo Bischoff (New Earth),\/wiki\/Matteo_Bischoff_(New_Earth),Secret Identity,Bad Characters,NaN,Grey Hair,Male Characters,NaN,Living Characters,NaN,"2012, May",2012.0

*Note: the only place you should realy use bitwise `&` and `|`.*

## DataFrame operations

In [32]:
states

     area  population       state
0  423967    38332521  California
1  170312    19552860     Florida
2  149995    12882135    Illinois
3  141297    19651127    New York
4  695662    26448193       Texas

In [33]:
states['population'] / 1000000

0    38.332521
1    19.552860
2    12.882135
3    19.651127
4    26.448193
Name: population, dtype: float64

In [34]:
states['population'] / states['area']

0     90.413926
1    114.806121
2     85.883763
3    139.076746
4     38.018740
dtype: float64

For common functions beyond simple math operator (e.g log, sin, etc.) we use [numpy ufuncs](https://docs.scipy.org/doc/numpy-1.13.0/reference/ufuncs.html#available-ufuncs).

In [35]:
np.log(states['area'])

0    12.957411
1    12.045387
2    11.918357
3    11.858619
4    13.452619
Name: area, dtype: float64

Custom functions application is the slowest but handy.

In [37]:
def is_over_populated(row):
    if row['population'] > 30000000:
        return True
    density = row['population'] / row['area']
    if density > 100:
        return True
    return False

In [39]:
states.apply(is_over_populated, axis='columns')

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [40]:
states

     area  population       state
0  423967    38332521  California
1  170312    19552860     Florida
2  149995    12882135    Illinois
3  141297    19651127    New York
4  695662    26448193       Texas

In [43]:
states['density'] = states['population'] / states['area']
states

     area  population       state     density  debt
0  423967    38332521  California   90.413926  16.5
1  170312    19552860     Florida  114.806121  16.5
2  149995    12882135    Illinois   85.883763  16.5
3  141297    19651127    New York  139.076746  16.5
4  695662    26448193       Texas   38.018740  16.5

In [46]:
states['population'] = states['population'] / 1000000

In [51]:
states = states.drop('popluation', axis='columns')

In [52]:
states

     area  population       state     density  debt
0  423967   38.332521  California   90.413926  16.5
1  170312   19.552860     Florida  114.806121  16.5
2  149995   12.882135    Illinois   85.883763  16.5
3  141297   19.651127    New York  139.076746  16.5
4  695662   26.448193       Texas   38.018740  16.5

In [42]:
states['debt'] = 16.5
states

     area  population       state     density  debt
0  423967    38332521  California   90.413926  16.5
1  170312    19552860     Florida  114.806121  16.5
2  149995    12882135    Illinois   85.883763  16.5
3  141297    19651127    New York  139.076746  16.5
4  695662    26448193       Texas   38.018740  16.5

In [53]:
states.sort_values('density')

     area  population       state     density  debt
4  695662   26.448193       Texas   38.018740  16.5
2  149995   12.882135    Illinois   85.883763  16.5
0  423967   38.332521  California   90.413926  16.5
1  170312   19.552860     Florida  114.806121  16.5
3  141297   19.651127    New York  139.076746  16.5

In [54]:
states.rename(columns={'population': 'pop'})

     area        pop       state     density  debt
0  423967  38.332521  California   90.413926  16.5
1  170312  19.552860     Florida  114.806121  16.5
2  149995  12.882135    Illinois   85.883763  16.5
3  141297  19.651127    New York  139.076746  16.5
4  695662  26.448193       Texas   38.018740  16.5

In [55]:
states.rename(columns=str.upper)

     AREA  POPULATION       STATE     DENSITY  DEBT
0  423967   38.332521  California   90.413926  16.5
1  170312   19.552860     Florida  114.806121  16.5
2  149995   12.882135    Illinois   85.883763  16.5
3  141297   19.651127    New York  139.076746  16.5
4  695662   26.448193       Texas   38.018740  16.5

*Note: operations return new DataFrames. They don't change them in-place.*

## *Exercise: Let's clean our comics dataset!*

In [56]:
def first_word(text):
    if isinstance(text, str):  # Because we can't split NaN
        words = text.split()
        return words[0]
    return text

In [59]:
df['SEX'].value_counts()

Male Characters           4783
Female Characters         1967
Genderless Characters       20
Transgender Characters       1
Name: SEX, dtype: int64

In [58]:
df['SEX'].apply(first_word)

0         Male
1         Male
2         Male
3         Male
4         Male
5       Female
6         Male
7         Male
8       Female
9         Male
10      Female
11        Male
12      Female
13        Male
14      Female
15        Male
16        Male
17        Male
18        Male
19        Male
20        Male
21      Female
22        Male
23        Male
24        Male
25        Male
26        Male
27        Male
28        Male
29        Male
         ...
6866      Male
6867      Male
6868      Male
6869      Male
6870      Male
6871    Female
6872      Male
6873    Female
6874      Male
6875      Male
6876      Male
6877      Male
6878    Female
6879      Male
6880      Male
6881    Female
6882    Female
6883      Male
6884      Male
6885    Female
6886      Male
6887      Male
6888      Male
6889      Male
6890      Male
6891    Female
6892      Male
6893      Male
6894      Male
6895      Male
Name: SEX, Length: 6896, dtype: object

1. Apply the `first_word` function to the columns: `['ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE']`. Set the result into the same column.
1. Rename the columns to lower case letters. Hint: use the `str.lower` function.
1. Check your result using `df.head()`.
1. *If you have time*: change the `alive` column value to be boolean.
1. Save it to a new file with `to_csv`.

In [90]:
df = pd.read_csv('data/dc-wikia-data.csv')

In [91]:
columns = ['ID', 'ALIGN', 'EYE', 'HAIR', 'SEX', 'GSM', 'ALIVE']

In [92]:
for column in columns:
    df[column] = df[column].apply(first_word)

In [98]:
df = df.rename(columns=str.lower)

In [95]:
df['alive'] = (df['alive'] == 'Living')

In [97]:
df.to_csv('output.csv', index=False)

## Handling missing data

In [ ]:
df = pd.read_csv('data/dc-wikia-data-clean.csv')

Checks

In [109]:
df[df['year'].isnull()]

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
386,1891,Jakeem Williams (New Earth),\/wiki\/Jakeem_Williams_(New_Earth),Secret,NaN,Brown,NaN,Male,NaN,True,79.0,NaN,NaN
1400,64303,Hadley Jaggar (New Earth),\/wiki\/Hadley_Jaggar_(New_Earth),Secret,Good,Blue,Blond,Male,NaN,False,19.0,NaN,NaN
1401,13097,Nergal (New Earth),\/wiki\/Nergal_(New_Earth),NaN,Bad,Yellow,NaN,Male,NaN,True,19.0,NaN,NaN
1832,65286,Gregory Wolfe (New Earth),\/wiki\/Gregory_Wolfe_(New_Earth),Public,Neutral,Brown,Black,Male,NaN,True,14.0,NaN,NaN
1937,146333,Clarence Charles Batson V (New Earth),\/wiki\/Clarence_Charles_Batson_V_(New_Earth),Public,Good,NaN,Black,Male,NaN,False,13.0,NaN,NaN
1938,113413,Chad Graham (New Earth),\/wiki\/Chad_Graham_(New_Earth),Secret,Bad,NaN,Blond,Male,NaN,False,13.0,NaN,NaN
2065,344513,Jupiter (New Earth),\/wiki\/Jupiter_(New_Earth),NaN,Good,NaN,White,Male,NaN,True,12.0,NaN,NaN
2066,344983,Pegasus (New Earth),\/wiki\/Pegasus_(New_Earth),NaN,Good,NaN,Black,Female,NaN,True,12.0,NaN,NaN
2067,286906,Asteroth (New Earth),\/wiki\/Asteroth_(New_Earth),Secret,Bad,Yellow,Black,Male,NaN,True,12.0,NaN,NaN
2230,155569,Red Panzer IV (New Earth),\/wiki\/Red_Panzer_IV_(New_Earth),Secret,Bad,NaN,NaN,Male,NaN,True,11.0,NaN,NaN
2231,19044,Gernsback (New Earth),\/wiki\/Gernsback_(New_Earth),NaN,Good,NaN,NaN,Male,NaN,True,11.0,NaN,NaN
2232,202057,Henry Cosgei (New Earth),\/wiki\/Henry_Cosgei_(New_Earth),Secret,Good,Black,Black,Male,NaN,True,11.0,NaN,NaN
2413,216380,Marilyn Batson (New Earth),\/wiki\/Marilyn_Batson_(New_Earth),Public,Good,Brown,Brown,Female,NaN,False,10.0,NaN,NaN
2414,178197,Michael Tree (New Earth),\/wiki\/Michael_Tree_(New_Earth),NaN,NaN,NaN,Black,Female,NaN,True,10.0,NaN,NaN
2841,383108,Brunhilde (New Earth),\/wiki\/Brunhilde_(New_Earth),NaN,Good,NaN,NaN,Female,NaN,True,8.0,NaN,NaN
2842,251517,Kuan Ti (New Earth),\/wiki\/Kuan_Ti_(New_Earth),Public,Good,NaN,Black,Male,NaN,True,8.0,NaN,NaN
3104,383914,Helen of Troy (New Earth),\/wiki\/Helen_of_Troy_(New_Earth),NaN,Good,NaN,Blond,Female,NaN,True,7.0,NaN,NaN
3105,256793,Pluto (New Earth),\/wiki\/Pluto_(New_Earth),Public,Bad,NaN,NaN,Male,NaN,True,7.0,NaN,NaN
3431,15909,Ammon-Ra (New Earth),\/wiki\/Ammon-Ra_(New_Earth),Secret,Neutral,NaN,NaN,Male,NaN,True,6.0,NaN,NaN
3432,348898,Kreaven (New Earth),\/wiki\/Kreaven_(New_Earth),Public,Neutral,NaN,NaN,Male,NaN,True,6.0,NaN,NaN
3433,345589,Vulcan (New Earth),\/wiki\/Vulcan_(New_Earth),NaN,Good,NaN,NaN,Male,NaN,True,6.0,NaN,NaN
3434,57839,Donna Cavanagh (New Earth),\/wiki\/Donna_Cavanagh_(New_Earth),Public,Good,Green,Blond,Female,Homosexual,True,6.0,NaN,NaN
3435,68612,Amadeus Arkham (New Earth),\/wiki\/Amadeus_Arkham_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,6.0,NaN,NaN
3819,182833,Scott Spencer (New Earth),\/wiki\/Scott_Spencer_(New_Earth),Public,Neutral,NaN,Black,Male,NaN,True,5.0,NaN,NaN
3820,213354,Maria Montez (New Earth),\/wiki\/Maria_Montez_(New_Earth),NaN,NaN,NaN,NaN,Female,NaN,True,5.0,NaN,NaN
3821,345591,"Diana, Goddess of the Hunt (New Earth)","\/wiki\/Diana,_Goddess_of_the_Hunt_(New_Earth)",NaN,Good,NaN,NaN,Female,NaN,True,5.0,NaN,NaN
3822,47346,Gregory the Gargoyle (New Earth),\/wiki\/Gregory_the_Gargoyle_(New_Earth),NaN,Good,NaN,NaN,Male,NaN,True,5.0,NaN,NaN
3823,345586,Minerva (Roman Goddess) (New Earth),\/wiki\/Minerva_(Roman_Goddess)_(New_Earth),NaN,Good,NaN,NaN,Female,NaN,True,5.0,NaN,NaN
3824,66157,Auerbach (New Earth),\/wiki\/Auerbach_(New_Earth),Secret,NaN,NaN,Brown,Male,NaN,True,5.0,NaN,NaN
4320,139807,Virgil Adams (New Earth),\/wiki\/Virgil_Adams_(New_Earth),Public,Bad,NaN,Black,Male,NaN,True,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5527,112333,Lisa Morice (New Earth),\/wiki\/Lisa_Morice_(New_Earth),Public,Good,Grey,Strawberry,Female,NaN,True,2.0,NaN,NaN
5528,189975,Carter Nichols (New Earth),\/wiki\/Carter_Nichols_(New_Earth),Public,Good,NaN,Brown,Male,NaN,False,2.0,NaN,NaN
5529,139768,Cupid (New Earth),\/wiki\/Cupid_(New_Earth),NaN,Good,NaN,NaN,Male,NaN,True,2.0,NaN,NaN
5530,345585,Juno (New Earth),\/wiki\/Juno_(New_Earth),NaN,Good,NaN,NaN,Female,NaN,True,2.0,NaN,NaN
5531,271506,Luki Lo (New Earth),\/wiki\/Luki_Lo_(New_Earth),NaN,Good,NaN,Black,Male,NaN,True,2.0,NaN,NaN
5532,177249,Stanley Wilson (New Earth),\/wiki\/Stanley_Wilson_(New_Earth),NaN,Good,NaN,Black,Male,NaN,True,2.0,NaN,NaN
5533,250224,Elena Leal (New Earth),\/wiki\/Elena_Leal_(New_Earth),Public,Good,NaN,White,Female,NaN,True,2.0,NaN,NaN
5534,185720,Druid (New Earth),\/wiki\/Druid_(New_Earth),Secret,Bad,NaN,Black,Male,NaN,True,2.0,NaN,NaN
5535,218828,Crone (New Earth),\/wiki\/Crone_(New_Earth),Secret,Bad,NaN,Grey,Female,NaN,True,2.0,NaN,NaN
5536,95738,Fancy Feet (New Earth),\/wiki\/Fancy_Feet_(New_Earth),NaN,Bad,NaN,NaN,Male,NaN,True,2.0,NaN,NaN
5537,182478,Rico Strada (New Earth),\/wiki\/Rico_Strada_(New_Earth),NaN,Bad,Blue,Blond,Male,NaN,True,2.0,NaN,NaN
5538,31642,Benjamin Hubbard (New Earth),\/wiki\/Benjamin_Hubbard_(New_Earth),NaN,NaN,NaN,NaN,Male,NaN,True,2.0,NaN,NaN
6532,159528,Materna Minnx (New Earth),\/wiki\/Materna_Minnx_(New_Earth),Public,NaN,NaN,Brown,Female,NaN,True,1.0,NaN,NaN
6533,19799,"Frank Baker, Jr. (New Earth)","\/wiki\/Frank_Baker,_Jr._(New_Earth)",Public,Neutral,Blue,Grey,Male,NaN,True,1.0,NaN,NaN
6534,242167,Prowley (New Earth),\/wiki\/Prowley_(New_Earth),Public,Neutral,Yellow,Black,NaN,NaN,True,1.0,NaN,NaN
6535,95767,Smother (New Earth),\/wiki\/Smother_(New_Earth),NaN,Neutral,NaN,NaN,Female,NaN,True,1.0,NaN,NaN
6536,16094,Mark Antaeus (New Earth),\/wiki\/Mark_Antaeus_(New_Earth),Public,Good,Blue,Black,Male,NaN,False,1.0,NaN,NaN
6537,128000,Jerome Cox (New Earth),\/wiki\/Jerome_Cox_(New_Earth),Public,Bad,NaN,NaN,Male,NaN,True,1.0,NaN,NaN
6538,345590,Apollo (Roman God) (New Earth),\/wiki\/Apollo_(Roman_God)_(New_Earth),NaN,Good,NaN,NaN,Male,NaN,True,1.0,NaN,NaN
6539,15050,Ben Lo (New Earth),\/wiki\/Ben_Lo_(New_Earth),Public,Good,Brown,Black,Male,NaN,True,1.0,NaN,NaN
6540,205584,Auctioneer II (New Earth),\/wiki\/Auctioneer_II_(New_Earth),Secret,Bad,NaN,White,Male,NaN,True,1.0,NaN,NaN
6887,283661,Herbert Hoover (New Earth),\/wiki\/Herbert_Hoover_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6888,283657,William Howard Taft (New Earth),\/wiki\/William_Howard_Taft_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6889,21655,Frank Fitzsimmons (New Earth),\/wiki\/Frank_Fitzsimmons_(New_Earth),Public,Good,NaN,Grey,Male,NaN,True,NaN,NaN,NaN
6890,283482,James Garfield (New Earth),\/wiki\/James_Garfield_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6891,66302,Nadine West (New Earth),\/wiki\/Nadine_West_(New_Earth),Public,Good,NaN,NaN,Female,NaN,True,NaN,NaN,NaN
6892,283475,Warren Harding (New Earth),\/wiki\/Warren_Harding_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6893,283478,William Harrison (New Earth),\/wiki\/William_Harrison_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6894,283471,William McKinley (New Earth),\/wiki\/William_McKinley_(New_Earth),Public,Good,NaN,NaN,Male,NaN,True,NaN,NaN,NaN
6895,150660,Mookie (New Earth),\/wiki\/Mookie_(New_Earth),Public,Bad,Blue,Blond,Male,NaN,True,NaN,NaN,NaN

In [110]:
df['year'].notnull()

0        True
1        True
2        True
3        True
4        True
5        True
6        True
7        True
8        True
9        True
10       True
11       True
12       True
13       True
14       True
15       True
16       True
17       True
18       True
19       True
20       True
21       True
22       True
23       True
24       True
25       True
26       True
27       True
28       True
29       True
        ...
6866     True
6867     True
6868     True
6869     True
6870     True
6871     True
6872     True
6873     True
6874     True
6875     True
6876     True
6877     True
6878     True
6879     True
6880     True
6881     True
6882     True
6883     True
6884     True
6885     True
6886     True
6887    False
6888    False
6889    False
6890    False
6891    False
6892    False
6893    False
6894    False
6895    False
Name: year, Length: 6896, dtype: bool

Filtering out

In [113]:
df.dropna(subset=['gsm', 'year'])

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
48,1704,John Constantine (New Earth),\/wiki\/John_Constantine_(New_Earth),Public,Good,Blue,Blond,Male,Bisexual,True,371.0,"1984, June",1984.0
65,8856,Renee Montoya (New Earth),\/wiki\/Renee_Montoya_(New_Earth),Secret,Good,Brown,Black,Female,Homosexual,True,308.0,"1992, March",1992.0
119,1862,Todd Rice (New Earth),\/wiki\/Todd_Rice_(New_Earth),Public,Good,Brown,Brown,Male,Homosexual,True,208.0,"1983, September",1983.0
134,1658,Margaret Sawyer (New Earth),\/wiki\/Margaret_Sawyer_(New_Earth),Public,NaN,Blue,NaN,Female,Homosexual,True,180.0,"1987, April",1987.0
173,1597,Hartley Rathaway (New Earth),\/wiki\/Hartley_Rathaway_(New_Earth),Secret,Good,Blue,Red,Male,Homosexual,True,160.0,"1959, May",1959.0
253,10139,Holly Robinson (New Earth),\/wiki\/Holly_Robinson_(New_Earth),Secret,Good,Blue,Red,Female,Homosexual,True,114.0,"1987, February",1987.0
292,1614,Grace Choi (New Earth),\/wiki\/Grace_Choi_(New_Earth),Secret,Good,Brown,Red,Female,Bisexual,True,100.0,"2003, August",2003.0
301,16693,Tef\u00e9 Holland (New Earth),\/wiki\/Tef%C3%A9_Holland_(New_Earth),NaN,Bad,Blue,White,Female,Bisexual,True,97.0,"1989, December",1989.0
315,1618,Anissa Pierce (New Earth),\/wiki\/Anissa_Pierce_(New_Earth),Secret,Good,Brown,Black,Female,Homosexual,True,92.0,"2003, August",2003.0
339,1689,Mikaal Tomas (New Earth),\/wiki\/Mikaal_Tomas_(New_Earth),Secret,Good,Blue,Purple,Male,Homosexual,True,87.0,"1976, March",1976.0
348,56388,Mallah (New Earth),\/wiki\/Mallah_(New_Earth),Secret,Bad,Brown,Brown,Male,Homosexual,False,85.0,"1964, March",1964.0
397,2708,Brain (New Earth),\/wiki\/Brain_(New_Earth),Secret,Bad,NaN,NaN,Male,Homosexual,True,77.0,"1964, March",1964.0
409,2655,Hugh Dawkins (New Earth),\/wiki\/Hugh_Dawkins_(New_Earth),Secret,Good,White,Blond,Male,Homosexual,True,74.0,"1986, November",1986.0
461,1647,Scandal Savage (New Earth),\/wiki\/Scandal_Savage_(New_Earth),Secret,Bad,Brown,Brown,Female,Homosexual,True,65.0,"2005, July",2005.0
466,3415,Karen Lou Faulkner (New Earth),\/wiki\/Karen_Lou_Faulkner_(New_Earth),Secret,Neutral,Brown,Brown,Female,Homosexual,True,65.0,"1987, July",1987.0
555,4780,Knockout (New Earth),\/wiki\/Knockout_(New_Earth),Secret,Bad,Blue,Red,Female,Bisexual,True,53.0,"1994, February",1994.0
569,8883,Katherine Kane (New Earth),\/wiki\/Katherine_Kane_(New_Earth),Secret,Good,Green,Red,Female,Homosexual,True,51.0,"2006, June",2006.0
736,37256,Menalippe (New Earth),\/wiki\/Menalippe_(New_Earth),Public,Good,NaN,NaN,Female,Homosexual,False,39.0,"1987, February",1987.0
750,4829,Sigrid Nansen (New Earth),\/wiki\/Sigrid_Nansen_(New_Earth),Public,Good,Blue,White,Female,Bisexual,True,38.0,"1986, November",1986.0
780,116529,Ramsey Robinson (New Earth),\/wiki\/Ramsey_Robinson_(New_Earth),Secret,Good,Blue,Black,Male,Homosexual,True,36.0,"2004, November",2004.0
822,96395,Valerie Kameya (Dakotaverse),\/wiki\/Valerie_Kameya_(Dakotaverse),Secret,Good,NaN,Black,Female,Homosexual,True,34.0,"1994, January",1994.0
824,10546,Courtney Mason (New Earth),\/wiki\/Courtney_Mason_(New_Earth),Public,Good,Blue,Blond,Female,Bisexual,False,34.0,"1993, July",1993.0
855,61669,Aleksandr Creote (New Earth),\/wiki\/Aleksandr_Creote_(New_Earth),Secret,Good,NaN,Brown,Male,Homosexual,True,32.0,"2003, August",2003.0
859,96384,Gerri Brauer (Dakotaverse),\/wiki\/Gerri_Brauer_(Dakotaverse),Secret,Good,Blue,Blond,Female,Homosexual,True,32.0,"1994, January",1994.0
886,19048,Mortimer Drake (New Earth),\/wiki\/Mortimer_Drake_(New_Earth),Secret,Bad,Brown,Brown,Male,Bisexual,True,32.0,"1943, November",1943.0
894,279711,Karon (New Earth),\/wiki\/Karon_(New_Earth),Public,Good,NaN,NaN,Female,Homosexual,True,31.0,"2002, June",2002.0
953,44511,Gregorio de la Vega (New Earth),\/wiki\/Gregorio_de_la_Vega_(New_Earth),Secret,Good,NaN,Black,Male,Homosexual,True,29.0,"1988, January",1988.0
1068,93915,Damon Matthews (New Earth),\/wiki\/Damon_Matthews_(New_Earth),Public,Good,NaN,Blond,Male,Homosexual,True,25.0,"2004, October",2004.0
1080,341718,Penelope (New Earth),\/wiki\/Penelope_(New_Earth),NaN,Good,NaN,Black,Female,Homosexual,True,25.0,"1988, October",1988.0
1119,65221,Anthony Mantegna (New Earth),\/wiki\/Anthony_Mantegna_(New_Earth),Secret,Good,NaN,Black,Male,Homosexual,True,24.0,"1988, May",1988.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1326,61683,Thomas Jagger (New Earth),\/wiki\/Thomas_Jagger_(New_Earth),Public,Good,Brown,Brown,Male,Homosexual,True,19.0,"2006, June",2006.0
1473,165918,Achilles Warkiller (New Earth),\/wiki\/Achilles_Warkiller_(New_Earth),Secret,Good,Blue,Blond,Male,Homosexual,True,17.0,"2009, May",2009.0
1490,132256,Frostbite (New Earth),\/wiki\/Frostbite_(New_Earth),Secret,Good,Blue,Blue,Male,Bisexual,True,17.0,"1997, June",1997.0
1557,132260,George Sloan (New Earth),\/wiki\/George_Sloan_(New_Earth),Secret,Good,NaN,NaN,Male,Bisexual,True,16.0,"1997, June",1997.0
1638,14549,Io (New Earth),\/wiki\/Io_(New_Earth),Public,Good,Brown,Brown,Female,Homosexual,True,15.0,"2003, November",2003.0
1737,207533,Gannon Malloy (New Earth),\/wiki\/Gannon_Malloy_(New_Earth),Public,Good,NaN,Blond,Male,Homosexual,True,14.0,"2002, September",2002.0
1778,343746,Iphthime (New Earth),\/wiki\/Iphthime_(New_Earth),NaN,Good,NaN,Red,Female,Homosexual,True,14.0,"1989, February",1989.0
1970,56453,Terrence Berg (New Earth),\/wiki\/Terrence_Berg_(New_Earth),NaN,Neutral,NaN,Blond,Male,Homosexual,True,12.0,"2000, October",2000.0
2031,28168,Syonide II (New Earth),\/wiki\/Syonide_II_(New_Earth),Secret,Bad,Blue,Red,Female,Homosexual,False,12.0,"1985, March",1985.0
2170,323894,Toby Raynes (New Earth),\/wiki\/Toby_Raynes_(New_Earth),Public,Good,NaN,Brown,Female,Homosexual,True,11.0,"1987, September",1987.0
2247,128152,Liana Kerzner (New Earth),\/wiki\/Liana_Kerzner_(New_Earth),Public,Neutral,Blue,Red,Female,Homosexual,True,10.0,"2008, November",2008.0
2272,8867,Daria Hernandez (New Earth),\/wiki\/Daria_Hernandez_(New_Earth),Public,Neutral,Brown,Brown,Female,Homosexual,True,10.0,"2003, July",2003.0
2287,132320,Joel Weinberg (New Earth),\/wiki\/Joel_Weinberg_(New_Earth),Public,Good,NaN,Brown,Male,Homosexual,True,10.0,"2000, March",2000.0
2387,40333,Karl Courtney (New Earth),\/wiki\/Karl_Courtney_(New_Earth),Secret,Bad,Blue,NaN,Male,Homosexual,False,10.0,"1976, June",1976.0
2659,344737,Anaya (New Earth),\/wiki\/Anaya_(New_Earth),NaN,Good,Brown,Brown,Female,Homosexual,True,8.0,"2001, May",2001.0
2784,81107,Henry Cannon (New Earth),\/wiki\/Henry_Cannon_(New_Earth),Secret,Bad,Black,Black,Male,Homosexual,True,8.0,"1984, April",1984.0
2785,81105,Marschall Saber (New Earth),\/wiki\/Marschall_Saber_(New_Earth),Secret,Bad,Green,Red,Male,Homosexual,True,8.0,"1984, April",1984.0
3186,175236,Mallory Kimball (New Earth),\/wiki\/Mallory_Kimball_(New_Earth),Public,Good,Brown,Brown,Female,Homosexual,True,6.0,"2006, July",2006.0
3250,293107,Leander (New Earth),\/wiki\/Leander_(New_Earth),Public,Good,NaN,Blue,Male,Homosexual,False,6.0,"1997, January",1997.0
4088,131431,Madeline Giles (New Earth),\/wiki\/Madeline_Giles_(New_Earth),NaN,Bad,Brown,Black,Female,Homosexual,True,4.0,"1994, April",1994.0
4155,47120,Alexander Burgess (New Earth),\/wiki\/Alexander_Burgess_(New_Earth),Public,Bad,Brown,Red,Male,Homosexual,True,4.0,"1989, January",1989.0
4702,348741,Kevin Mayer (New Earth),\/wiki\/Kevin_Mayer_(New_Earth),Public,Good,Brown,Black,Male,Homosexual,True,3.0,1988,1988.0
4704,119930,Mitchell Sekofsky (New Earth),\/wiki\/Mitchell_Sekofsky_(New_Earth),NaN,Good,NaN,Red,Male,Homosexual,True,3.0,"1988, November",1988.0
4872,191605,Faceoff (New Earth),\/wiki\/Faceoff_(New_Earth),Secret,Good,NaN,NaN,Male,Homosexual,True,2.0,"2010, December",2010.0
4935,199943,Todd Rice (Some Years Later),\/wiki\/Todd_Rice_(Some_Years_Later),Public,Good,Brown,Brown,Male,Homosexual,True,2.0,"2009, February",2009.0
5183,128337,Fauna Faust (New Earth),\/wiki\/Fauna_Faust_(New_Earth),Secret,Bad,Black,White,Female,Homosexual,False,2.0,"1995, March",1995.0
5285,312715,Moish (New Earth),\/wiki\/Moish_(New_Earth),Secret,Bad,NaN,NaN,Male,Homosexual,True,2.0,"1990, October",1990.0
5303,112309,Joshua Barbazon (New Earth),\/wiki\/Joshua_Barbazon_(New_Earth),Public,Good,Blue,Blond,Male,Homosexual,True,2.0,1989,1989.0
5794,156750,Big Thunder (New Earth),\/wiki\/Big_Thunder_(New_Earth),Secret,Good,Black,Black,Male,Homosexual,True,1.0,"2006, April",2006.0
6052,194137,Twilight II (New Earth),\/wiki\/Twilight_II_(New_Earth),Secret,Bad,Blue,White,Female,Homosexual,True,1.0,"1997, November",1997.0

Filling empty values

In [114]:
df['year'].fillna(2000)

0       1939.0
1       1986.0
2       1959.0
3       1987.0
4       1940.0
5       1941.0
6       1941.0
7       1989.0
8       1969.0
9       1956.0
10      1956.0
11      1940.0
12      1967.0
13      1940.0
14      1938.0
15      1943.0
16      1940.0
17      1994.0
18      1961.0
19      1986.0
20      1941.0
21      1976.0
22      1942.0
23      1965.0
24      1968.0
25      1980.0
26      1993.0
27      1960.0
28      1986.0
29      1971.0
         ...
6866    1967.0
6867    1967.0
6868    1967.0
6869    1967.0
6870    1967.0
6871    1966.0
6872    1966.0
6873    1965.0
6874    1963.0
6875    1962.0
6876    1960.0
6877    1955.0
6878    1948.0
6879    1946.0
6880    1946.0
6881    1944.0
6882    1941.0
6883    1941.0
6884    1940.0
6885    1940.0
6886    1936.0
6887    2000.0
6888    2000.0
6889    2000.0
6890    2000.0
6891    2000.0
6892    2000.0
6893    2000.0
6894    2000.0
6895    2000.0
Name: year, Length: 6896, dtype: float64

## *Exercises*

1. What is the hair color of the first character that is of a gender or sexual minority?
1. When was the last neutral (align) gender or sexual minority character instroduced?
1. What is the percentage of good GSM characters? What is the percentage of good characters in general?

In [123]:
(
    df.dropna(subset=['gsm'])
    .sort_values('year')
    .head(1)
)

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
886,19048,Mortimer Drake (New Earth),\/wiki\/Mortimer_Drake_(New_Earth),Secret,Bad,Brown,Brown,Male,Bisexual,True,32.0,"1943, November",1943.0

In [128]:
(
    df[(df['align'] == 'Neutral') & (df['gsm'].notnull())]
    .sort_values('year')
    .tail(1)
)

,page_id,name,urlslug,id,align,eye,hair,sex,gsm,alive,appearances,first appearance,year
2247,128152,Liana Kerzner (New Earth),\/wiki\/Liana_Kerzner_(New_Earth),Public,Neutral,Blue,Red,Female,Homosexual,True,10.0,"2008, November",2008.0